<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Academic Buddy{% endblock %}</title>
        {# Glyphicons #}
        <link href="http://bootswatch.com/yeti/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

        {# Bootstrap #}
        {#<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">#}

        {#<link href="http://bootswatch.com/yeti/bootstrap.min.css" rel="stylesheet">#}
        {% stylesheets '@ABBundle/Resources/public/css/base.less' filter='less' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('css/jumbotron-narrow.css') }}" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
        {% block stylesheets %}{% endblock %}
	<style>
	    body {
	        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	    }
	    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	    }
	</style>
	<meta property="og:title" content="Academic Buddy"/>
	<meta property="og:image" content="{{ asset('bundles/ab/images/logo_moved.png') }}">
    </head>
    <body>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
        {# FOS JS routing #}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {# jQuery (necessary for Bootstraps JavaScript plugins) #}
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        {# Include all JavaScripts, compiled by Assetic #}
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        {# Typeahead plugin #}
        {#<script src="//twitter.github.com/typeahead.js/releases/latest/typeahead.min.js"></script>#}
        {% block javascripts %}{% endblock %}
	{# GA #}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-51167014-1', 'academicbuddy.lt');
            ga('send', 'pageview');
        </script>
    </body>
</html>
