{% extends "::base.html.twig" %}
{% block body %}
    <div id="header">
        {% block header %}
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <!-- Sandwich icon --> 
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('home') }}">
                    	<img src="{{ asset('bundles/ab/images/logobw.png') }}">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {{ knp_menu_render('ABBundle:Builder:mainMenu', {'currentClass': 'active'}) }}
                    <div class="navbar-nav nav navbar-right">
                        {% if is_granted('ROLE_USER') %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle header-settings" data-toggle="dropdown">
                                    {{ app.user.firstName }} {{ app.user.lastName }} <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('settings') }}">Nustatymai</a></li>
                                    {% if is_granted("ROLE_ADMIN") %}
                                        <li><a href="{{ path('pupil_list') }}">Moksleiviai</a></li>
                                        <li><a href="{{ path('user_export') }}">El. paštai</a></li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ path('fos_user_security_logout') }}">
                                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li>
                            <a href="{{ path('fos_user_security_login') }}">
                                Prisijungti
                            </a>
                            </li>
                        {% endif %}
                    </div>
                </div>
            </nav>
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <div class="footer">
        {% block footer %}
            <p>&copy; Academic Buddy, 2014</p>
        {% endblock %}
    </div>
{% endblock %}
