{% extends "::base.html.twig" %}
{% block body %}
  <div id="header">
    {% block header %}
      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <!-- Sandwich icon --> 
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('home') }}">
              <img src="{{ asset('bundles/ab/images/logobw.png') }}">
            </a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {{ knp_menu_render('ABBundle:Builder:mainMenu', {'currentClass': 'active'}) }}
            <div class="navbar-nav nav navbar-right">
              {% if is_granted('ROLE_USER') %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle header-settings" data-toggle="dropdown">
                    {{ app.user.firstName }} {{ app.user.lastName }} <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li>{% if app.request.getLocale() == 'lt' %}
                      <a href="{{ path('lang_en', {'parent_route': app.request.attributes.get('_route'), 'parent_route_params': app.request.attributes.get('_route_params')}) }}">In English</a>
                      {% else %}
                      <a href="{{ path('lang_lt', {'parent_route': app.request.attributes.get('_route'), 'parent_route_params': app.request.attributes.get('_route_params')}) }}">Lietuviškai</a>
                      {% endif %}
                    </li>
                    <li><a href="{{ path('settings') }}">{{ 'Nustatymai'|trans }}</a></li>
                    {% if is_granted("ROLE_ADMIN") %}
                      <li><a href="{{ path('pupil_list') }}">{{ 'Moksleiviai'|trans }}</a></li>
                      <li><a href="{{ path('user_export') }}">{{ 'El. paštai'|trans }}</a></li>
                      <li><a href="{{ path('groups_manage') }}">{{ 'Grupės'|trans }}</a></li>
                    {% endif %}
                    <li>
                      <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                      </a>
                    </li>
                  </ul>
                </li>
              {% else %}
                <li>{% if app.request.getLocale() == 'lt' %}
                  <a href="{{ path('lang_en', {'parent_route': app.request.attributes.get('_route'), 'parent_route_params': app.request.attributes.get('_route_params')}) }}">
                    <img class="lang-flag" src="{{ asset('bundles/ab/images/en-flag.png') }}"></a>
                  {% else %}
                  <a href="{{ path('lang_lt', {'parent_route': app.request.attributes.get('_route'), 'parent_route_params': app.request.attributes.get('_route_params')}) }}">
                    <img class="lang-flag" src="{{ asset('bundles/ab/images/lt-flag.png') }}"></a>
                  {% endif %}
                </li>
                <li>
                <a href="{{ path('fos_user_security_login') }}">
                  {{ 'Prisijungti'|trans }}
                </a>
                </li>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    {% endblock %}
  </div>

  <div class="container">
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>

    <div class="footer">
    {% block footer %}
      <p>&copy; Academic Buddy, 2015</p>
    {% endblock %}
    </div>
  </div>


{% endblock %}
