{% extends "ABBundle::layout.html.twig" %}

{% block title %}Apie Oksbridžo etapą{% endblock %}
{% block content %}
    <div class="panel-shadow">
        <p align="center"><strong>Ar verta bandyti stoti į Oksbridžą?</strong></p>
        <p align="LEFT">Tikrai taip! Daugelis įstojusiųjų į Oksbridžą manė, kad nėra pakankamai gabūs ar protingi, kad būtų priimti į šiuos universitetus. Tiesa ta, jog nėra beveik jokio ryšio tarp to, ką apie save galvoji ir kokios yra realios galimybės įstoti, todėl pabandyti tikrai yra verta. Dalyvavimas “Academic Buddy” projekto renginiuose ir paruošiamojoje stovykloje bei mentorių konsultavimas galimybes įstoti į šias prestižines mokslo įstaigas tik dar padidina. Be to, tuo pat metu stosi ir į kitus pasirinktus JK universitetus.
        </p>
        
        <p align="center"><strong>I-asis </strong><em>vs</em><strong> II-asis etapas:</strong> kurį rinktis?</p>
        <p align="LEFT">Šiuo metu (gegužės-spalio mėn.) vyksta I-asis projekto etapas, skirtas planuojantiems stoti į Oksfordo ir Kembridžo (Oksbridžo) universitetus, į kuriuos stojimai vyksta iki spalio 15 d. Moksleiviai, atrinkti dalyvauti šiame projekto etape, vėliau galės dalyvauti ir II-ajame etape.</p>
        <p align="LEFT">II-asis etapas prasidės rugsėjo mėnesį ir bus skirtas stojantiems į kitus geriausius Jungtinės Karalystės universitetus. Stojimai į šiuos universitetus baigiasi sausio 15 d. Jei norite gauti pranešimus ir naujienas apie II-ojo etapo pradžią, <a href="https://docs.google.com/forms/d/1a7g5Y34M4rClUV365ueQv9rZ-KKGAgKwgdvwv8Xyalk/viewform" target="_blank">užsiprenumeruokite mūsų naujienlaiškį</a>.</p>
        <p>&nbsp;</p>
        
        <p align="center"><strong>Apie projektą: tikslai ir veiklos</strong></p>
        <p><strong>Tikslas I:</strong> užtikrinti, kad gabiausi Lietuvos moksleiviai, stodami į užsienio universitetus, turėtų galimybę įgyti aukščiausios kokybės akademinį išsilavinimą, atitinkantį jų potencialą.</p>
        <p><strong>Tikslas II:</strong> burti lietuvius studentus ir mokslininkus į platų akademinį tinklą.</p>
        <p><strong>Veiklos:</strong><br />
        (a) informacijos apie studijų galimybes geriausiuose JK universitetuose sklaida;<br />
        (b) asmeninės ir bendruomeninės moksleivių konsultacijos apie stojimų tvarką, pasiruošimą, gyvenimą ir mokslą JK;<br />
        (c) susitikimai, kurių metu pristatomi universitetai, kursai, koledžai, jų tvarka ir ypatybės;<br />
        (d) stovykla (Oksbridžo etapas), kurios metu vyksta pasirengimas interviu, testams, motyvacinio laiško (<em>Personal Statement</em>) tobulinimas, asmeninis darbas su mentoriais.</p>
        <p>&nbsp;</p>
        
        <p align="center"><strong>Istorija</strong></p>
        <p>Projektas startavo 2012 m. vasarą Kembridžo universiteto lietuvių bendrijos (CULS) iniciatyva, o 2013-2014 mokslo metais sparčiai plėtėsi, į organizatorių gretas oficialiai įsijungus ir Oksfordo universiteto lietuvių bendrijai (OULS) bei užmezgus ryšius su giminingu „LT Big Brother“ mentorystės projektu. 2012-2013 m. į projektą užsiregistravo daugiau nei 100 moksleivių iš Lietuvos, kuriems sutiko padėti virš šimto mentorių iš geriausių JK universitetų. Projekto eigoje vyko trys susitikimai, intensyvus mentorių bei moksleivių bendravimas ir konsultavimas el. paštu ir tiesiogiai, pasiruošimas stojimo procesams. Daugiau nei trečdalis projekto dalyvių, bandžiusiųjų stoti į Oksbridžą, gavo pakvietimus ten studijuoti. Taip pat daugelis dalyvių įstojo į Londono, Edinburgh&#8217;o, Durham&#8217;o, Warwick&#8217;o ir kitus žymius universitetus. Balandžio mėnesį vykęs baigiamasis renginys Kaune pažymėjo sėkmingą pirmųjų metų pabaigą.</p>
        <p>Tęsdami projektą 2013-2014 metais, kooperuojantis CULS ir OULS, sulaukėme dar geresnių rezultatų. Projekto dalyvių stojimo sėkmingumo statistiką galite matyti iliustracijoje žemiau.</p>
        <p> <img style="max-width: 670px; width: 100%;" title="Statistika" src="{{ asset('bundles/ab/images/statistika.jpg') }}" /></p>
        <p>2014-2015 mokslo metams "Academic Brother" keičia savo pavadinimą į "Academic Buddy" ir įgija nuosavą, nuo OULS ir CULS organizacijų nepriklausomą vykdomąjį komitetą. Turėdamas žmonių, paskiriančių savo laiką projektui, komandą, "Academic Buddy" tikisi būti kaip niekad profesionalus.</p>
        
        <p align="center"><strong>Projekto eiga</strong></p>    
        <p>Didelė dalis projekto veiklos ir bendravimo vyks internetu. I-ojo etapo metu, patvirtinus ketinimą siekti studijų Oksbridže po pirmojo susitikimo, kiekvienam atrinktam moksleiviui bus priskirtas asmeninis mentorius pagal: (i) motyvacinę registracijos anketą, ir (ii) vėlesnėje anketoje (po atidaromojo renginio) nurodytus mentorių, kursų, universiteto pasirinkimus.</p>
        <p>Bendravimas su mentoriumi prasidės <strong>liepos 10 d.</strong>, ir tęsis iki stojimo proceso pabaigos. Vasarai mentorius greičiausiai rekomenduos literatūros ir kitos medžiagos, skirtos pasiruošti stojamajam dalykui.</p>
        <p>Artėjant atskiriems stojimo procedūros terminams (spalio 15 d. UCAS paraiškos terminas; lapkričio mėn. laikomi specialūs testai; gruodžio mėn. vyksta interviu), mentorius konsultuos ir padės moksleiviui tinkamai pasiruošti.</p>
        <p>Taip pat I-ojo etapo metu vyks bent du renginiai. Pirmasis, vyksiantis birželio mėn. pabaigoje &#8211; atidaromasis renginys (žr. žemiau), kuriame projekto organizatoriai papasakos apie studijas Oksbridže, ir padės išsirinkti universitetą (Oksfordas ar Kembridžas?), kursą ir pageidaujamus mentorius. Taip pat tai bus proga susipažinti ir pasišnekučiuoti su kitais mentoriais bei moksleiviais. Antrasis renginys, vyksiantis vasaros pabaigoje &#8211; kelių dienų stovykla (žr. žemiau), skirta intensyviai dirbti ir linksmintis, ruošiantis stojimams į Oksbridžą.</p>
        <p align="center"><strong>Projekto datos</strong></p>
        <ul>
        <li><em><strong>Gegužės 17 – liepos 6</strong></em>: mentorių registracija</li>
        <li><em><strong>Gegužės 17 – liepos 6</strong></em>: moksleivių registracija</li>
        <li><strong><em>Birželio 27</em></strong> - atidaromasis renginys</li>
        <li><em><strong>Liepos 10 </strong></em>– moksleiviai suporuojami su mentoriais, prasideda bendravimas!</li>
        <li><em><strong>Rugpjūčio pab. / rugsėjo pr.</strong></em> - stovykla pasiruošti stojimo procesui</li>
        <li><em><strong>Spalio 15</strong></em> – UCAS paraiškų padavimo paskutinė diena</li>
        <li><em><strong>Spalio-lapkričio mėn.</strong> </em>- papildomų testų laikymas (kai kurie Oksbridžo kursai)</li>
        <li><em><strong>Gruodžio mėn.</strong> </em>- kvietimai į interviu ir pačių interviu eiga</li>
        <li><em><strong>Sausio-vasario mėn. -</strong></em> universitetai skelbia stojimo rezultatus</li>
        </ul>
        <br />

        <p align="center"><strong>Moksleivių ir mentorių registracija</strong></p>
        <p><strong>Moksleivių registracija.</strong> Vyksta gegužės 17 d. &#8211; liepos 6 d.</p>
        <p>I etape gali dalyvauti tik 11 klasės (šiuo metu) moksleiviai arba vyresni, planuojantys stoti į Oksfordo arba Kembridžo universitetą. Atrenkant moksleivius į projektą, bus vertinama jų motyvacija ir potencialas, remiantis anketos duomenimis apie jų akademinius pasiekimus bei užklasinę veiklą. Registracijoje nurodomi duomenys bus naudojami atrankos, projekto komunikacijos tikslais bei atrenkant geriausiai moksleivio poreikius atitinkantį mentorių.</p>
        <p><strong>Mentorių registracija</strong>. Vyksta gegužės 17 d. &#8211; liepos 6 d.</p>
        <p>I etape gali dalyvauti tik Oksbridžo universitetuose studijuojantys arba studijas baigę mentoriai. Registracijoje nurodomi duomenys bus viešai prieinami (išskyrus el. paštą ir gyvenamąją vietą), ja vadovaujantis moksleiviai rinksis savo pageidaujamus mentorius.</p>
        <br />

        <p align="center"><strong>Atidaromasis renginys</strong></p>
        <p>Renginio tikslas &#8211; išsamiai ir sistemingai papasakoti apie studijas Oksbridže, taip padedant moksleiviui išsirinkti universitetą (Kembridžas vs Oksfordas), kursą ir pageidaujamus mentorius. Taip pat tai bus puiki proga susipažinti su kitais projekto dalyviais bei mentoriais.</p>
        <p>Renginio data: birželio 27 d.</p>
        <p>Programa: Oksbridžo universitetų pristatymas; kuo skiriasi Oksfordas nuo Kembridžo? kuo ypatingi atskiri kursai / studijų kryptys Kembridže ir Oksforde? kuo skiriasi koledžai, ir ką reikia žinoti juos renkantis? trumpai apie stojimo procedūras ir pasiruošimą joms; kas toliau?</p>
        <br />

        <h4>Akimirkos iš Oksbridžo etapo atidaromojo renginio</h4>
        <div id="photo-block">
            <div id="slides">
                {% for i in 1..12 %}
                    <img src={{ asset('bundles/ab/images/photos/%d.JPG'|format(i)) }} />
                {% endfor %}
                <a href=# class="slidesjs-previous slidesjs-navigation">{{ icon('chevron-left') }}</a>
                <a href=# class="slidesjs-next slidesjs-navigation">{{ icon('chevron-right') }}</a>
            </div>
        </div>

        <p align="center"><strong>Stovykla I-ojo etapo dalyviams</strong></p>
        <p>Moksleiviai, perėję atranką, bus pakviesti sudalyvauti 2-3 dienų stovykloje, skirtoje ruoštis stojimui į Oksbridžo universitetus. Stovyklos metu mentoriai ves apmokymus ir konsultuos stojimo procesų klausimais, vyks įvairios pasiruošimo dirbtuvės: (i) <em>Personal Statement</em>&#8216;o tobulinimas; (ii) pasiruošimas interviu; (iii) pasiruošimas specialiems testams (kai kuriems kursams). Taip pat laukia įdomi vakarinė programa bei galybė bendravimo su kitais AB dalyviais bei mentoriais!</p>
        <p>Numatytas stovyklos laikas: rugsėjo mėn. Tikslesnė informacija ir programa ruošiama.</p>

        <p align="center"><strong>Ateities perspektyvos</strong></p>
        <p>Projektas vyksta jau trečius metus, ir virto kasmetine iniciatyva. Kitais metais planuojama plėstis į vėlesnes studijų pakopas ir/ar į kitas šalis, bendradarbiaujant su jų bendrijomis.</p>
        <p>&nbsp;</p>
        
        <p style="text-align: center;"><strong>Projekto organizatoriai</strong><br />
        <a href="http://www.cu-ls.org" target="_blank"><img title="CULS" src="{{ asset('bundles/ab/images/CULS-EN-version.jpg') }}" alt="" style="max-width: 300px; width: 100%;" /></a></p>
        <p style="text-align: center;"><a href="www.ou-ls.org" target="_blank"><img title="OULS logo 3" src="{{ asset('bundles/ab/images/OULS-logo-3.png') }}" alt="" style="max-width: 300px; width: 100%;" /></a></p>
        <p style="text-align: center;"><strong>Projekto partneriai</strong></p>
        <p style="text-align: center;"><strong></strong><a href="http://www.ltbigbrother.com/apie-projekta/"><img title="logoLTBB" src="{{ asset('bundles/ab/images/logoLTBB.png') }}" alt="" style="max-width: 269px; width: 100%;" /></a></p>

    </div>
{% endblock %}
{% block javascripts %}
    {% javascripts '@ABBundle/Resources/public/slides/jquery.slides.js' filter='?uglifyjs2' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(function(){
            $("#slides").slidesjs({
                width: 670,
                height: 450,
                navigation: { active: false },
                pagination: { active: false },
                play: { auto: true }
            });
        });
    </script>
{% endblock %}