{% extends "ABBundle::layout.html.twig" %}

{% block title %}About US stage{% endblock %}
{% block content %}
    <div class="panel-shadow clearfix">
    	
    	<div class="text-block col-md-6 col-xs-12 l-float">
    	<h3>Applying to US</h3>
		<p>The Academic Buddy USA project creates a space for prospective applicants to interact with, and be mentored by, students currently enrolled in some of America’s finest universities. When placed under personal tutorship, future scholars receive holistic aid with their application: from choosing the right college, to studying confidently and efficiently for standardized tests, to writing an essay that best evokes their character. Our aim is to overcome the myths of insurmountable prices and impossible admission rates that keep many from applying to their dream school in the USA. In doing so, we hope to provide motivated young people with the lighthearted instruction needed to not only enter American higher education, but to make the most of it.</p>
		</div>

		<div class="text-block col-md-6 col-xs-12 r-float">
		<h3>Universities</h3>
		<p>All of the over 20 mentors working in the Academic Buddy USA program attend some of the most highly respected liberal arts universities in the country, including six of the eight prestigious Ivy League schools. Mentors also represent the satellite campuses of these colleges, stationed in places such as Singapore and Abu Dhabi. </p>

		<p>The universities currently represented under the Academic Buddy USA program are:
			<ul>
				<li>Brown University</li>
				<li>Dartmouth College</li>
				<li>Harvard University</li>
				<li>Massachusetts Institute of Technology</li>
				<li>New York University in Abu Dhabi</li>
				<li>Princeton University</li>
				<li>University of Chicago</li>
				<li>University of Pennsylvania</li>
				<li>Williams College</li>
				<li>Yale University</li>
				<li>Yale-NUS College</li>
			</ul>
		</p>
		</div>


		<div class="text-block col-md-6 col-xs-12 l-float">
		<h3>Myths</h3>
		<p>As mentioned, in starting this project, we hope to overcome two major myths about undergraduate study in the United States.
		<ol>
		<li><strong>Undergraduate study is unaffordable.</strong></li>
		<p>On paper, this does have the semblance of truth. In American private universities, the total costs of attendance often soar past the 60,000 USD mark, accounting for tuition, textbooks, and room-and-board. Too often lost in the noise is the fact that all of the top private learning institutions regularly hand out generous financial aid for qualified students. In most schools, this comes with admission - no further selection is needed to garner aid for students who could not afford the upcoming four years. If the university wants you to attend, they will give you the money. In fact, some of the high-ranking schools are “internationally need-blind”, meaning that an inability to pay for your course of study will not factor into the university’s decision of whether to accept you. The end result is that the absolute majority of our mentors currently pay less for college than they would in the UK or most of the EU countries. We are amply equipped to guide incoming students towards a fully affordable avenue of learning.</p>

		<li><strong>Acceptances are rare and random.</strong></li>

		<p>In the UK, a student is effectively funnelled through two admissions cycles - one mid-year, resulting in a conditional offer, and one after final grades come in, leading to a full-fledged acceptance. The US is different and admittedly somewhat mysterious. In the vast majority of cases, an acceptance is final. But it is also predicated on a holistic observation of the student’s character, extracurricular activities and passion for learning. For these reasons, it’s important to start preparing early and remain aware throughout the process - our mentors are ready to help you render your best traits onto the page in a way that will charm admissions officers. The consequence of this is that the application process becomes freer and fun; instead of focusing on passing an arbitrary score threshold, candidates will discover what exactly makes them unique among a crowd of likenesses. Oftentimes, US applicants’ efforts will be channeled not into changing themselves, but revealing themselves. Start early with the help of our mentors and you will succeed.</p>
		</p>
		</div>

		<div class="text-block col-md-6 col-xs-12 l-float">
		<h3>The Process</h3>
		<p>Further details on registration and the Academic Buddy US stage are coming soon.</p>

		<p>Any questions about the Academic Buddy US stage are welcomed on the <a href="https://www.facebook.com/AcademicBuddy">Academic Buddy Facebook page</a> or via e-mail: <a href="mailto:academicbuddyusa@gmail.com">academicbuddyusa@gmail.com</a></p>
		</div>
		<div id="presentation" class="col-md-12 l-float">
			<h4>Slides from the opening event of the US stage 2016 m.</h4>
			<div class="slides-block">
				<div id="slides-us-16-application">
		  		<button type="button" class="btn btn-default">{{ icon('play-circle') }} Application Process. Watch slides</button>
				</div>
			</div>
			<div class="slides-block">
				<div id="slides-us-16-finaid">
		  		<button type="button" class="btn btn-default">{{ icon('play-circle') }} Financial Aid. Watch slides</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
    {% javascripts '@ABBundle/Resources/public/slides/jquery.slides.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(function(){
            $("#slides-us-16-application > button").click(function() {
                // A bit dirty, but would do for now
                $("#slides-us-16-application").html(" \
                    {% for i in 1..22 %}
                        <img src={{ asset('bundles/ab/images/photos/events/opening-us-16-application-process/Slide%d.PNG'|format(i)) }} /> \
                    {% endfor %}
                    <a href=# class=\"slidesjs-previous slidesjs-navigation\"><span class=\"glyphicon glyphicon-chevron-left\"></span></a> \
                    <a href=# class=\"slidesjs-next slidesjs-navigation\"><span class=\"glyphicon glyphicon-chevron-right\"></span></a>");

                $("#slides-us-16-application").slidesjs({
                    width: 960,
                    height: 540,
                    navigation: false,
                    pagination: false,
                    play: { auto: true }
                });
            });

            $("#slides-us-16-finaid > button").click(function() {
                // A bit dirty, but would do for now
                $("#slides-us-16-finaid").html(" \
                    {% for i in 1..5 %}
                        <img src={{ asset('bundles/ab/images/photos/events/opening-us-16-finaid/Slide%d.PNG'|format(i)) }} /> \
                    {% endfor %}
                    <a href=# class=\"slidesjs-previous slidesjs-navigation\"><span class=\"glyphicon glyphicon-chevron-left\"></span></a> \
                    <a href=# class=\"slidesjs-next slidesjs-navigation\"><span class=\"glyphicon glyphicon-chevron-right\"></span></a>");

                $("#slides-us-16-finaid").slidesjs({
                    width: 960,
                    height: 540,
                    navigation: false,
                    pagination: false,
                    play: { auto: true }
                });
            });
        });
    </script>
{% endblock %}
