{% extends "ABBundle::layout.html.twig" %}

{% block title %}Apie JAV etapą{% endblock %}
{% block content %}
  <div class="panel-shadow clearfix">
    <div class="text-block col-md-6 col-xs-12 l-float">
    <h3>Registracija į JAV etapą</h3>
    <div>
      <a class="btn btn-default" href="https://goo.gl/forms/thkpGrMSRJiHLdmZ2">Registracija</a>
      <a class="btn btn-default" href="{{ path('about_usa_mentors') }}">Mentorių sąrašas</a>
    </div>

    <h3>Stojimas į JAV</h3>
    <p>JAV universitetai jau nuo seno garsėja aukštais akademiniais rodikliais, siūlomomis karjeros perspektyvomis bei nuopelnais žmonijai. Vis dėlto, tik nedaugelis Lietuvos moksleivių kasmet išbando savo jėgas į juos aplikuodami. Kai kurie suabejoja savo sugebėjimais atsilaikyti prieš didelę stojimo proceso konkurenciją, o kai kurie vis dar tiki mitais, jog studijos JAV lietuviams yra finansiškai neįkandamos. Tačiau, iš tikrųjų, studijos JAV prieinamos kiekvienam norinčiam mokytis ir pasiryžusiam siekti savo tikslų!</p>

    <p>„Academic Buddy JAV” projekto tikslas yra sugriauti šiuos ir kitus mitus, supažindinti stojančiuosius iš Lietuvos su paraiškų teikimo eiga, reikalavimais. Programa leidžia būsimiems studentams rasti mentorių su panašiais akademiniais interesais ir reikiama patirtimi, kuris patartų įvairiais klausimais: nuo tinkamo universiteto paieškos iki finansinių rūpesčių ir motyvacinių rašinių rašymo. JAV yra šalis, kur kiekvienas – menininkas, humanitaras ar mokslininkas – gali įgyti pasaulinės klasės išsilavinimą. Taip pat tai yra šalis, kurioje studijuojantis meno istorikas gali tapti biochemiku, o politologas – matematiku. Mes tikimės kuo daugiau žmonių suteikti šias galimybes, padėti plėsti akiratį, pažinti pasaulį ir atrasti save.</p>
    </div>

    <div class="text-block col-md-6 col-xs-12 l-float">
    <h3>Atidaromasis renginys</h3>
    <p>„Academic Buddy USA“ mentoriai kviečia dalyvauti liepos 26 d. antradienį 13:00 Vilniaus Miesto Savivaldybėje pristatomajame JAV etapo renginyje. Renginio metu susipažinsite su lietuvių studentais JAV universitetuose, kurie pristatys naujojo „Academic Buddy“ JAV etapo eigą ir suteiks informacijos moksleiviams, norintiems studijuoti JAV universitetuose. Daugiau informacijos apie renginį <a href="https://www.facebook.com/events/1150721761654461/">čia</a>; rekomenduojame renginiui užsiregistruoti <a href="http://goo.gl/forms/FTt3rGpRxvpBRTlX2">čia</a>.</p>
    </div>

    <div class="text-block col-md-6 col-xs-12 r-float">
    <h3>Universitetai</h3>
    <p>Visi iš virš 20 “Academic Buddy USA” mentorių mokosi aukščiausiai reitinguojamuose <i>liberaliųjų menų</i> koledžuose bei geriausiuose JAV universitetuose, įskaitant net 6 iš 8 prestižinės <i>Ivy League</i> grupės narių. Projekte taip pat dalyvauja mentoriai iš šių JAV universitetų satelitinių koledžų užsienyje. </p>

    <p>Visų projekte atstovaujamų universitetų sąrašas:
      <ul>
        <li>Brown University</li>
        <li>Dartmouth College</li>
        <li>Harvard University</li>
        <li>Massachusetts Institute of Technology</li>
        <li>New York University in Abu Dhabi</li>
        <li>Princeton University</li>
        <li>University of Chicago</li>
        <li>University of Pennsylvania</li>
        <li>Williams College</li>
        <li>Yale University</li>
        <li>Yale-NUS College</li>
      </ul>
    </p>
    </div>


    <div class="text-block col-md-6 col-xs-12 l-float">
    <h3>Mitai</h3>
    <p>Kaip ir minėjome, projektas visų pirma siekia įveikti du didžiausius mitus, siejamus su bakalauro studijomis Jungtinėse Amerikos Valstijose:
    <ol>
    <li><strong>Studijos JAV yra ypač brangios.</strong></li>
    <p>Nors studijų kaina „ant popieriaus” yra tikrai aukšta (privačiuose universitetuose ji neretai viršija 60 tūkst. JAV dolerių per metus), dauguma geriausių aukštųjų mokyklų savo turtus skaičiuoja milijardais JAV dolerių ir didžiajai daliai savo moksleivių suteikia dosnią finansinę paramą. Dažniausiai universitetai, nusprendę priimti kandidatą, atsižvelgę į jo šeimos finansines aplinkybes, padengia 100% kainos, kurios neišgali sumokėti šeima. Ypatingais atvejais, kurių Rytų Europoje pasitaiko tikrai nemažai, universitetai apmoka moksleivio skrydžius ir kitas išlaidas bei duoda moksleiviui kišenpinigių. Nemaža dalis JAV aukštųjų mokyklų atrankas vykdo dar nežinodamos kandidato finansinė padėties, taip garantuodamos, jog labiausiai nusipelnę moksleiviai – nepriklausomai nuo finansinių sunkumų – gautų visas reikiamas galimybes realizuoti savo potencialui. Tokiu būdu absoliuti dauguma „Academic Buddy USA” mentorių už studijas sumoka mažiau, nei mokėtų Jungtinėje Karalystėje ar kitose ES šalyse.</p>

    <li><strong>Įstoti į JAV yra pernelyg sunku.</strong></li>

    <p>Stojimo į JAV universitetus procesas kardinaliai skiriasi nuo Jungtinės Karalystės ir kitų Europos šalių. Be akivaizdaus reikalavimo pagrįsti akademinius gabumus aukštais pažymiais, stojant į JAV būtina laikyti papildomus standartizuotus testus (SAT arba ACT), rašyti esė, pabrėžiančias kandidato asmenines savybes, pereiti ne vieną interviu. Taip pat rekomenduojama turėti nemažą popamokinių veiklų spektrą ir įvairių neakademinių interesų bei pasiekimų. Holistinis aplikacijų vertinimo pobūdis lemia tai, jog egzistuoja ne vienas būdas ženkliai pagerinti savo šansus ir išsiskirti atrankose. Ankstyvas planavimas ir ruošimasis standartizuotiems testams, bendras aplikacijos krypties formavimas ir esė rašymas bei redagavimas ženkliai padidina moksleivio galimybes įstoti į geriausias JAV aukštąsias mokyklas. Būtent todėl, kad padėtų Jums parengti geriausias įmanomas aplikacijas ir sugriauti šį mitą, minėtų universitetų esami ar buvę studentai lietuviai jungiasi prie „Academic Buddy USA” projekto.</p>
    </p>
    </div>

    <div class="text-block col-md-6 col-xs-12 l-float">
    <h3>Projekto eiga</h3>
    <p>Daugiau informacijos apie registraciją bei JAV etapo eigą - jau greitai.</p>

    <p>Klausimus apie JAV etapą galite užduoti <a href="https://www.facebook.com/AcademicBuddy">Akademinio bičiulio „Facebook” puslapyje</a> arba JAV etapo el. paštu: <a href="mailto:academicbuddyusa@gmail.com">academicbuddyusa@gmail.com</a></p>
    </div>

    <div id="presentation" class="col-md-12 l-float">
      <h4>Skaidrės iš JAV etapo atidaromojo renginio 2016 m.</h4>
      <div class="slides-block">
        <div id="slides-us-16-application">
          <button type="button" class="btn btn-default">{{ icon('play-circle') }} Application Process. Peržiūrėti skaidres</button>
        </div>
      </div>
      <div class="slides-block">
        <div id="slides-us-16-finaid">
          <button type="button" class="btn btn-default">{{ icon('play-circle') }} Financial Aid. Peržiūrėti skaidres</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
    {% javascripts '@ABBundle/Resources/public/slides/jquery.slides.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(function(){
            $("#slides-us-16-application > button").click(function() {
                // A bit dirty, but would do for now
                $("#slides-us-16-application").html(" \
                    {% for i in 1..22 %}
                        <img src={{ asset('bundles/ab/images/photos/events/opening-us-16-application-process/Slide%d.PNG'|format(i)) }} /> \
                    {% endfor %}
                    <a href=# class=\"slidesjs-previous slidesjs-navigation\"><span class=\"glyphicon glyphicon-chevron-left\"></span></a> \
                    <a href=# class=\"slidesjs-next slidesjs-navigation\"><span class=\"glyphicon glyphicon-chevron-right\"></span></a>");

                $("#slides-us-16-application").slidesjs({
                    width: 960,
                    height: 540,
                    navigation: false,
                    pagination: false,
                    play: { auto: true }
                });
            });

            $("#slides-us-16-finaid > button").click(function() {
                // A bit dirty, but would do for now
                $("#slides-us-16-finaid").html(" \
                    {% for i in 1..5 %}
                        <img src={{ asset('bundles/ab/images/photos/events/opening-us-16-finaid/Slide%d.PNG'|format(i)) }} /> \
                    {% endfor %}
                    <a href=# class=\"slidesjs-previous slidesjs-navigation\"><span class=\"glyphicon glyphicon-chevron-left\"></span></a> \
                    <a href=# class=\"slidesjs-next slidesjs-navigation\"><span class=\"glyphicon glyphicon-chevron-right\"></span></a>");

                $("#slides-us-16-finaid").slidesjs({
                    width: 960,
                    height: 540,
                    navigation: false,
                    pagination: false,
                    play: { auto: true }
                });
            });
        });
    </script>
{% endblock %}
