{% extends "ABBundle::layout.html.twig" %}

{% block title %}Apie II etapą (JK){% endblock %}
{% block content %}
    <div class="panel-shadow clearfix">
        <div class="text-block col-md-6 col-xs-12 l-float">
            <h3>Apie II projekto etapą</h3>
            <p>"Academic Buddy" projekto Antrasis etapas yra skirtas paskutiniųjų klasių moksleiviams, kuriuos domina studijos geriausiuose<a href="#fn1" id="ref1"><sup>*</sup></a> Jungtinės Karalystės universitetuose (išskyrus Oksfordą ir Kembridžą; dėl stojimo procedūrų skirtumų "Academic Buddy" šiems dviem universitetams organizuoja <a href="{{ path('about_oxbridge') }}">atskirą etapą</a>).</p>
            <p>Su projekto tikslais ir istorija galite susipažinti <a href="{{ path('about_oxbridge') }}">Oksbridžo etapo puslapyje</a>.</p>
         </div>

        <div class="col-md-6 col-xs-12 l-float alert alert-warning">2015-16 m.m. dėl techninių nesklandumų II etapo organizavimo metu, atidaromasis renginys neįvyks.</div>

        <div class="text-block col-md-6 col-xs-12 r-float">
            <h3>II etapo eiga</h3>    
            <p>Į Jungtinės Karalystės universitetus stojamą per centralizuotą sistemą UCAS <a href="http://www.ucas.com/">http://www.ucas.com/</a>. Galutinė paraiškų padavimo diena yra sausio 15 d.</p>
            <p>Norint pasiekti kuo geresnių rezultatų ir padidinti šansus įstoti į patraukliausią universitetą, UCAS anketos pildymui reikėtų skirti nemažai laiko. Todėl "Academic Buddy" projekto Antrasis etapas prasideda dar rugsėjo mėnesį ir tęsiasi iki pat stojimo proceso pabaigos<a href="#fn2" id="ref2"><sup>**</sup></a>. Abiturientai bei mokyklą jau baigusieji nusprendę dalyvauti projekte turi užsiregistruoti mūsų svetainėje iki nurodytos datos (žr. žemiau). Kiekvienam atrinktam moksleiviui bus priskirtas asmeninis mentorius pagal: (i) motyvacinę registracijos anketą ir (ii) vėlesnėje anketoje nurodytus mentorių, kursų bei universitetų pasirinkimus.</p>

            <p>Su paskirtu mentoriumi moksleivis daugiausiai bendraus virtualiai: el. paštu, Skype ir kitais būdais. Mentorius konsultuoja moksleivį visais jam/jai rūpimais klausimais, pataria, kaip geriau paruošti <i>Personal Statement</i> ir kitas anketos dalis, kokių klaidų vengti ir panašiai. Mentorius nepildo UCAS anketos už moksleivį! Manome, jog "Academic Buddy" projekte dalyvaujantys moksleiviai geba patys, be pašalinės pagalbos įsiveikti su UCAS anketa. Mentorių pagalba yra skirta tam, jog moksleivių anketos iš gerų pavirstų išskirtinėmis.</p>

            <p>Taip pat II-ojo etapo metu vyks bent du specialūs renginiai. Pirmasis – tai rugsėjo mėn. vykstantis atidaromasis renginys, skirtas susipažinti su būsimais mentoriais ir daugiau sužinoti apie studijas Jungtinės Karalystės universitetuose, stojimų procedūras, skirtumus tarp JK miestų ir regionų, praktinius mokymosi ir gyvenimo užsienyje dalykus. Antrasis renginys - <i>Personal Statement</i> tobulinimui skirtos dirbtuvės, vyksta gruodžio mėn., mentoriams sugrįžus atostogų į Lietuvą.</p>
        </div>        
        
        <div class="text-block col-md-6 col-xs-12 l-float">
            <h3>II etapo datos</h3>
            <table class="table">
                <tr>
                    <td>iki lapkričio 15</td>
                    <td>mentorių ir moksleivių registracija</td>
                </tr>
                {#<tr>
                    <td><i>TBA</i></td>
                    <td>atidaromasis renginys</td>
                </tr>#}
                <tr>
                    <td>lapkričio pabaiga</td>
                    <td>moksleiviai suporuojami su mentoriais, prasideda bendravimas!</td>
                </tr>
                {#<tr>
                    <td>gruodis</td>
                    <td><em>Personal Statement</em> dirbtuvės</td>
                </tr>#}
                <tr>
                    <td>Sausio 15</td>
                    <td>UCAS paraiškų padavimo paskutinė diena</td>
                </tr>
                <tr>
                    <td>Lapkričio<a href="#fn2"><sup>**</sup></a> – balandžio mėn.</td>
                    <td>universitetai skelbia stojimo rezultatus</td>
                </tr>
                <tr>
                    <td>Gegužės – birželio mėn.</td>
                    <td>valstybiniai egzaminai</td>
                </tr>
                <tr>
                    <td>Liepos – rugpjūčio mėn.</td>
                    <td>įvykdžius universitetų sąlygas išsiunčiami <i>Unconditonal offers</i></td>
                </tr>
            </table>
        </div>

        <div class="text-block  col-md-6 col-xs-12 r-float">
            <h3>Moksleivių ir mentorių registracija</h3>
            <p><strong>Moksleivių registracija.</strong> Vyksta rugsėjo 8 d. – spalio 13 d.</p>
            <p>II-ame etape gali dalyvauti tik 12-os klasės (šiuo metu) moksleiviai arba vyresni, planuojantys stoti į geriausius Jungtinės Karalystės universitetus. Atrenkant moksleivius į projektą, vertinama jų motyvacija ir potencialas remiantis anketos duomenimis apie jų akademinius pasiekimus bei užklasinę veiklą. Registracijoje nurodomi duomenys bus naudojami atrankos, projekto komunikacijos tikslais bei atrenkant geriausiai moksleivio poreikius atitinkantį mentorių. Atmestinai ir nepilnai užpildytos anketos nebus svarstomos, todėl paskirkite anketos pildymui šiek tiek laiko ir dėmesio.</p>
            <p><strong>Mentorių registracija.</strong> Vyksta rugsėjo 8 d. – spalio 13 d.</i></p>
            <p>II-ajame etape gali dalyvauti Jungtinės Karalystės universitetuose studijuojantys arba studijas baigę mentoriai. Registracijoje nurodyti duomenys bus viešai prieinami (išskyrus el. paštą ir gyvenamąją vietą), jais vadovaudamiesi moksleiviai rinksis savo pageidaujamus mentorius. Prašome anketą užpildyti kuo išsamiau.</p>
        </div>

        {#<div class="text-block col-md-6 col-xs-12 l-float">
            <h3>Atidaromasis renginys</h3>
            <p>Renginio tikslas – išsamiai papasakoti apie studijas Jungtinėje Karalystėje, taip padedant moksleiviams išsirinkti jiems labiausiai tinkančius ir patinkančius universitetus, kursus ir pageidaujamus mentorius. Taip pat tai bus puiki proga susipažinti su kitais projekto dalyviais bei mentoriais. </p>
            <p>Renginio data: rugsėjo 13 d.</p>
        </div>#}

        <div class="text-block col-md-6 col-xs-12 l-float">
            <hr>
            <p><a href="#ref1" id="fn1"><sup>*</sup></a> Russell Group priklausantys ar bent pirmajame dvidešimtuke <a href="http://www.theguardian.com/education/ng-interactive/2014/jun/02/university-league-tables-2015-the-complete-list">The Guardian universitetų reitinguose</a> esantys universitetai (tiesa, yra atvejų, kai nors visas universitetas nėra vertinamas aukštai, kai kurios programos yra išskirtinės!)</p>
            <p><a href="#ref2" id="fn2"><sup>**</sup></a> Anksti išsiuntus užpildytą anketą, atsakymų iš universitetų taip pat galima sulaukti itin anksti. Nebūtina laukti sausio 15 d., bet dėl anketos tinkamumo siųsti reikėtų pasitarti su mentoriumi.
        </div>

        <div class="text-block col-md-6 col-xs-12 r-float">
            <h4>Projekto organizatoriai</h4>
            <div>
                <a href="http://www.cu-ls.org" target="_blank">
                    <img class="org-logo" src="{{ asset('bundles/ab/images/CULS-EN-version.jpg') }}" alt="Cambridge University Lithuanian Society" style="max-width: 230px" /></a>
                <br />
                <a href="http://www.ou-ls.org" target="_blank">
                    <img class="org-logo" src="{{ asset('bundles/ab/images/OULS-logo-3.png') }}" alt="Oxford University Lithuanian Society" style="max-width: 220px" /></a>
            </div>
            <h4>Projekto partneriai</h4>
            <div>
                <a href="http://www.ltbigbrother.com/apie-projekta/">
                    <img class="org-logo" src="{{ asset('bundles/ab/images/logoLTBB.png') }}" alt="LT Big Brother" style="max-width: 230px" /></a>
                <a href="http://vischool.lt/">
                    <img class="org-logo" src="{{ asset('bundles/ab/images/vis-logo.png') }}" alt="Vilnius International School" style="max-width: 212px"></a>
            </div>
        </div>
    </div>
{% endblock %}
