{% extends "ABBundle::layout.html.twig" %}

{% block title %}Apie II etapą (JK){% endblock %}
{% block content %}
    <div class="panel-shadow">
        <p>„Academic Buddy“ projekto Antrasis etapas yra skirtas paskutiniųjų klasių moksleiviams, kuriuos domina studijos geriausiuose<sup>*</sup> Jungtinės Karalystės universitetuose (išskyrus Oksfordą ir Kembridžą; dėl stojimo procedūrų skirtumų „Academic Buddy“ šiems dviem universitetams organizuoja <a href="{{ path('about_oxbridge') }}">atskirą etapą</a>).
        </p>
        
        <p>Apie projekto tikslus ir istoriją galite perskaityti <a href="{{ path('about_oxbridge') }}">Oksbridžo etapo puslapyje</a>.</p>
        
        <p align="center"><strong>II etapo eiga</strong></p>    
        <p>Į Jungtinės Karalystės universitetus stojamą per centralizuotą sistemą UCAS <a href="http://www.ucas.com/">http://www.ucas.com/</a>. Galutinė paraiškų padavimo diena yra sausio 15 d.</p>
        <p>Norint pasiekti kuo geresnių rezultatų ir padidinti šansus įstoti į patraukliausią universitetą, UCAS anketos pildymui reikėtų skirti nemažai laiko. Todėl „Academic Buddy“ projekto Antrasis etapas prasideda dar rugsėjo mėnesį ir tęsiasi iki pat stojimo proceso pabaigos<sup>**</sup>. Abiturientai bei mokyklą jau baigusieji nusprendę dalyvauti projekte turi užsiregistruoti mūsų svetainėje iki nurodytos datos (žr. žemiau). Kiekvienam atrinktam moksleiviui bus priskirtas asmeninis mentorius pagal: (i) motyvacinę registracijos anketą ir (ii) vėlesnėje anketoje nurodytus mentorių, kursų bei universitetų pasirinkimus.</p>

        <p>Su paskirtu mentoriumi moksleivis daugiausiai bendraus virtualiai: el. paštu, Skype ir kitais būdais. Mentorius konsultuoja moksleivį visais jam/jai rūpimais klausimais, pataria, kaip geriau paruošti <i>Personal Statement</i> ir kitas anketos dalis, kokių klaidų vengti ir panašiai. Mentorius nepildo UCAS anketos už moksleivį! Manome, jog „Academic Buddy“ projekte dalyvaujantys moksleiviai geba patys, be pašalinės pagalbos įsiveikti su UCAS anketa. Mentorių pagalba yra skirta tam, jog moksleivių anketos iš gerų pavirstų išskirtinėmis.</p>

        <p>Taip pat II-ojo etapo metu vyks bent du specialūs renginiai. Pirmasis – tai rugsėjo mėn. vykstantis atidaromasis renginys, skirtas susipažinti su būsimais mentoriais ir daugiau sužinoti apie studijas Jungtinės Karalystės universitetuose, stojimų procedūras, skirtumus tarp JK miestų ir regionų, praktinius mokymosi ir gyvenimo užsienyje dalykus. Antrasis renginys - <i>Personal Statements</i> tobulinimui skirtos dirbtuvės, vyksta gruodžio mėn., mentoriams sugrįžus atostogų į Lietuvą.</p>

        <p align="center"><strong>II etapo datos</strong></p>
        <ul>
        <li><em><strong>Rugsėjo 8 – spalio 13</strong></em>: mentorių ir moksleivių registracija</li>
        <li><strong><em>Rugsėjo 13</em></strong> – atidaromasis renginys</li>
        <li><em><strong>Spalio antra pusė</strong></em> – moksleiviai suporuojami su mentoriais, prasideda bendravimas!</li>
        <li><em><strong>Gruodžio antra pusė</strong></em> – <i>Personal Statements</i> dirbtuvės</li>
        <li><em><strong>Sausio 15</strong></em> – UCAS paraiškų padavimo paskutinė diena</li>
        <li><em><strong>Lapričio<sup>**</sup> – balandžio mėn.</strong> </em> – universitetai skelbia stojimo rezultatus</li>
        <li><em><strong>Gegužės – birželio mėn.</strong></em> – valstybiniai egzaminai</li>
        <li><em><strong>Liepus – rugpjūčio mėn.</strong></em> – įvykdžius universitetų sąlygas išsiunčiami <i>Unconditonal offers</i></li>
        </ul>

        <br />
        <p align="center"><strong>Moksleivių ir mentorių registracija</strong></p>
        <p><i>Moksleivių registracija vyksta rugsėjo 8 d. – spalio 13 d.</i></p>
        <p>II-ame etape gali dalyvauti tik 12-os klasės (šiuo metu) moksleiviai arba vyresni, planuojantys stoti į geriausius Jungtinės Karalystės universitetus. Atrenkant moksleivius į projektą, vertinama jų motyvacija ir potencialas remiantis anketos duomenimis apie jų akademinius pasiekimus bei užklasinę veiklą. Registracijoje nurodomi duomenys bus naudojami atrankos, projekto komunikacijos tikslais bei atrenkant geriausiai moksleivio poreikius atitinkantį mentorių. Atmestinai ir nepilnai užpildytos anketos nebus svarstomos, todėl paskirkite anketos pildymui šiek tiek laiko ir dėmesio.</p>

        <p><i>Mentorių registracija. Vyksta rugsėjo 8 d. – spalio 13 d.</i></p>
        <p>II-ajame etape gali dalyvauti Jungtinės Karalystės universitetuose studijuojantys arba studijas baigę mentoriai. Registracijoje nurodyti duomenys bus viešai prieinami (išskyrus el. paštą ir gyvenamąją vietą), jais vadovaudamiesi moksleiviai rinksis savo pageidaujamus mentorius. Prašome anketą užpildyti kuo išsamiau.</p>
        <br />

        <p align="center"><strong>Atidaromasis renginys</strong></p>
        <p>Renginio tikslas – išsamiai papasakoti apie studijas Jungtinėje Karalystėje, taip padedant moksleiviams išsirinkti jiems labiausiai tinkančius ir patinkančius universitetus, kursus ir pageidaujamus mentorius. Taip pat tai bus puiki proga susipažinti su kitais projekto dalyviais bei mentoriais. </p>
        <p>Renginio data: rugsėjo 13 d.</p>

        <hr>
        <p><sup>*</sup>Russell Group priklausantys ar bent pirmajame dvidešimtuke <a href="http://www.theguardian.com/education/ng-interactive/2014/jun/02/university-league-tables-2015-the-complete-list">The Guardian universitetų reitinguose</a> esantys universitetai (tiesa, yra atvejų, kai nors visas universitetas nėra vertinamas aukštai, kai kurios programos yra išskirtinės!)</p>
        <p><sup>**</sup>Anksti išsiuntus užpildytą anketą, atsakymų iš universitetų taip pat galima sulaukti itin anksti. Nebūtina laukti sausio 15 d., bet dėl anketos tinkamumo siųsti reikėtų pasitarti su mentoriumi.

        <br /><br />

        <p style="text-align: center;"><strong>Projekto organizatoriai</strong><br />
        <a href="http://www.cu-ls.org" target="_blank"><img title="CULS" src="{{ asset('bundles/ab/images/CULS-EN-version.jpg') }}" alt="" style="max-width: 300px; width: 100%;" /></a></p>
        <p style="text-align: center;"><a href="www.ou-ls.org" target="_blank"><img title="OULS logo 3" src="{{ asset('bundles/ab/images/OULS-logo-3.png') }}" alt="" style="max-width: 300px; width: 100%;" /></a></p>
        <p style="text-align: center;"><strong>Projekto partneriai</strong></p>
        <p style="text-align: center;"><strong></strong><a href="http://www.ltbigbrother.com/apie-projekta/"><img title="logoLTBB" src="{{ asset('bundles/ab/images/logoLTBB.png') }}" alt="" style="max-width: 269px; width: 100%;" /></a></p>
    </div>
{% endblock %}
