{% extends "ABBundle::layout.html.twig" %}

{% block title %}Apie Oksbridžo etapą{% endblock %}
{% block content %}
    <div class="panel-shadow clearfix">
        <div class="text-block col-md-6 col-xs-12">
            <h3>Ar verta bandyti stoti į Oksbridžą?</h3>
            <p>Tikrai taip! Daugelis įstojusiųjų į Oksbridžą manė, kad nėra pakankamai gabūs ar protingi, kad būtų priimti į šiuos universitetus. Tiesa ta, jog nėra beveik jokio ryšio tarp to, ką apie save galvoji ir kokios yra realios galimybės įstoti, todėl pabandyti tikrai yra verta. Dalyvavimas "Academic Buddy" projekto renginiuose ir paruošiamojoje stovykloje bei mentorių konsultavimas galimybes įstoti į šias prestižines mokslo įstaigas tik dar padidina. Be to, tuo pat metu stosi ir į kitus pasirinktus JK universitetus.
            </p>
        </div>

        <div class="text-block col-md-6 col-xs-12 r-float">
            <h4>Oksbridžo etapo eiga 2016 - 2017 m.</h4>
            <table class="table">
                <tr class="calendar-current">
                    <td nowrap>Iki rugpjūčio 1 d.</td>
                    <td>Mentorių ir moksleivių registracija</td>
                </tr>
                <tr>
                    <td class="calendar-current">Liepos 14 d.</td>
                    <td><a href="https://www.facebook.com/events/818173024951341/">Atidaromasis renginys</a></td>
                </tr>
                <tr>
                    <td>Rugpjūčio mėn.</td>
                    <td>Moksleiviai poruojami su mentoriais, prasideda bendravimas!</td>
                </tr>
                <tr>
                    <td>Rugsėjo pr.</td>
                    <td>„Academic Buddy” stovykla pasiruošti stojimo procesui</td>
                </tr>
                <tr>
                    <td>Spalio 15 d.</td>
                    <td>UCAS paraiškų padavimo paskutinė diena</td>
                </tr>
                <tr>
                    <td>Spalio - lapkričio mėn.</td>
                    <td>Papildomų testų laikymas (priklauso nuo Oksbridžo kurso)</td>
                </tr>
                <tr>
                    <td>Gruodžio mėn.</td>
                    <td>Kvietimai į interviu ir pačių interviu eiga</td>
                </tr>
                <tr>
                    <td>Sausio mėn.</td>
                    <td>Universitetai skelbia stojimo rezultatus</td>
                </tr>
            </table>
        </div>

        
        <div class="text-block col-md-6 col-xs-12">
            <h3><strong>I-asis </strong><em>vs</em><strong> II-asis etapas:</strong> kurį rinktis?</h3>
            <p>Gegužės - spalio mėn. vyksta I-asis projekto etapas, skirtas planuojantiems stoti į Oksfordo ir Kembridžo (Oksbridžo) universitetus, į kuriuos stojimai vyksta iki spalio 15 d. Moksleiviai, atrinkti dalyvauti šiame projekto etape, vėliau galės dalyvauti ir II-ajame etape.</p>
            <p>II-asis etapas prasideda rugsėjo mėnesį ir skirtas stojantiems į kitus geriausius Jungtinės Karalystės universitetus. Stojimai į šiuos universitetus baigiasi sausio 15 d. Jei norite gauti pranešimus ir naujienas apie II-ojo etapo pradžią, <a href="https://docs.google.com/forms/d/1a7g5Y34M4rClUV365ueQv9rZ-KKGAgKwgdvwv8Xyalk/viewform" target="_blank">užsiprenumeruokite mūsų naujienlaiškį</a>.</p>
        </div>

        <div class="text-block col-md-6 col-xs-12 l-float">
            <h3>Projekto eiga</h3>    
            <p>Didelė dalis projekto veiklos ir bendravimo vyks internetu. I-ojo etapo metu, patvirtinus ketinimą siekti studijų Oksbridže po pirmojo susitikimo, kiekvienam atrinktam moksleiviui bus priskirtas asmeninis mentorius pagal: (i) motyvacinę registracijos anketą, ir (ii) vėlesnėje anketoje (po atidaromojo renginio) nurodytus mentorių, kursų, universiteto pasirinkimus.</p>
            <p>Bendravimas su mentoriumi prasidės <strong>(bus paskelbta)</strong>, ir tęsis iki stojimo proceso pabaigos. Vasarai mentorius greičiausiai rekomenduos literatūros ir kitos medžiagos, skirtos pasiruošti stojamajam dalykui.</p>
            <p>Artėjant atskiriems stojimo procedūros terminams (spalio 15 d. UCAS paraiškos terminas; lapkričio mėn. laikomi specialūs testai; gruodžio mėn. vyksta interviu), mentorius konsultuos ir padės moksleiviui tinkamai pasiruošti.</p>
            <p>Taip pat I-ojo etapo metu vyks bent du renginiai. Pirmasis, vyksiantis birželio mėn. pabaigoje — atidaromasis renginys (žr. žemiau), kuriame projekto organizatoriai papasakos apie studijas Oksbridže, ir padės išsirinkti universitetą (Oksfordas ar Kembridžas?), kursą ir pageidaujamus mentorius. Taip pat tai bus proga susipažinti ir pasišnekučiuoti su kitais mentoriais bei moksleiviais. Antrasis renginys, vyksiantis vasaros pabaigoje — kelių dienų stovykla (žr. žemiau), skirta intensyviai dirbti ir linksmintis, ruošiantis stojimams į Oksbridžą.</p>
        </div>

        <div class="text-block col-md-6 col-xs-12 l-float">
            <h3>Moksleivių ir mentorių registracija</h3>
            <p><strong>Moksleivių registracija.</strong> Vyksta iki rugpjūčio 1 d.</p>
            <p>I etape gali dalyvauti tik 11 klasę baigiantys (12 klasę pradedantys) moksleiviai arba vyresni, planuojantys stoti į Oksfordo arba Kembridžo universitetą. Atrenkant moksleivius į projektą, bus vertinama jų motyvacija ir potencialas, remiantis anketos duomenimis apie jų akademinius pasiekimus bei užklasinę veiklą. Registracijoje nurodomi duomenys bus naudojami atrankos, projekto komunikacijos tikslais bei atrenkant geriausiai moksleivio poreikius atitinkantį mentorių.</p>
            <p><strong>Mentorių registracija</strong>. Vyksta iki rugpjūčio 1 d.</p>
            <p>I etape gali dalyvauti tik Oksbridžo universitetuose studijuojantys arba studijas baigę mentoriai. Registracijoje nurodomi duomenys bus viešai prieinami (išskyrus el. paštą ir gyvenamąją vietą), ja vadovaujantis moksleiviai rinksis savo pageidaujamus mentorius.</p>
            Moksleivių ir mentorių, nespėjusių užsiregistruoti iki rugpjūčio 1 d., prašome susisiekti su mumis el. paštu.
        </div>

        <div id="presentation" class="col-md-12 l-float">
            <h4>Skaidrės iš Oksbridžo etapo atidaromojo renginio 2015 m.</h4>
            <div class="slides-block">
                <div id="slides-oxbridge-15">
                    <button type="button" class="btn btn-default">{{ icon('play-circle') }} Peržiūrėti skaidres</button>
                </div>
            </div>
            <p>Atsisiųsti: <a href="{{ asset('bundles/ab/files/Academic-Buddy-pristatomasis-renginys-Oksbridzas-2015.pptx') }}" target="_blank">PPTX</a>. Daugiau informacijos 'Notes' sekcijoje skaidrėse.</p>
            <h4>Skaidrės iš pristatymo apie Kembridžą Panevėžio J. Balčikonio gimnazijoje 2015 m.</h4>
            <div class="slides-block">
                <div id="slides-jbg-15">
                    <button type="button" class="btn btn-default">{{ icon('play-circle') }} Peržiūrėti skaidres</button>
                </div>
            </div>
            <p>Atsisiųsti: <a href="{{ asset('bundles/ab/files/cantab-talk.pdf') }}" target="_blank">PDF</a>.</p>
        </div>

        <div class="text-block col-md-6 col-xs-12 r-float">
            <h3>Atidaromasis renginys</h3>
            <p>Renginio tikslas – išsamiai ir sistemingai papasakoti apie studijas Oksbridže, taip padedant moksleiviui išsirinkti universitetą (Kembridžas vs Oksfordas), kursą ir pageidaujamus mentorius. Taip pat tai bus puiki proga susipažinti su kitais projekto dalyviais bei mentoriais. Renginio data bus paskelbta „Academic Buddy” svetainėje bei Facebook puslapyje.</p>
            <p>Preliminari renginio programa: Oksbridžo universitetų pristatymas, skirtumai tarp Oksfordo ir Kembridžo, skirtingos studijų kryptys Kembridže ir Oksforde, koledžų ir koledžų sistemos pristatymas, bei informacija apie stojimo procedūras ir pasiruošimą joms.</p>
        </div>


        <div class="text-block col-md-6 col-xs-12 l-float">
            <h3>Stovykla I-ojo etapo dalyviams</h3>
            <p>Moksleiviai, perėję atranką, bus pakviesti sudalyvauti 2-3 dienų stovykloje, skirtoje ruoštis stojimui į Oksbridžo universitetus. Stovyklos metu mentoriai ves apmokymus ir konsultuos stojimo procesų klausimais, vyks įvairios pasiruošimo dirbtuvės: (i) <em>Personal Statement</em>'o tobulinimas; (ii) pasiruošimas interviu; (iii) pasiruošimas specialiems testams (kai kuriems kursams). Taip pat laukia įdomi vakarinė programa bei galybė bendravimo su kitais AB dalyviais bei mentoriais!</p>
            <p>Numatytas stovyklos laikas: rugsėjo mėn. Tikslesnė informacija ir programa ruošiama.</p>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {% javascripts '@ABBundle/Resources/public/slides/jquery.slides.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(function(){
            $("#slides-oxbridge-15 > button").click(function() {
                // A bit dirty, but would do for now
                $("#slides-oxbridge-15").html(" \
                    {% for i in 1..45 %}
                        <img src={{ asset('bundles/ab/images/photos/events/opening-oxbridge-15/slides/Slide%d.PNG'|format(i)) }} /> \
                    {% endfor %}
                    <a href=# class=\"slidesjs-previous slidesjs-navigation\"><span class=\"glyphicon glyphicon-chevron-left\"></span></a> \
                    <a href=# class=\"slidesjs-next slidesjs-navigation\"><span class=\"glyphicon glyphicon-chevron-right\"></span></a>");

                $("#slides-oxbridge-15").slidesjs({
                    width: 960,
                    height: 540,
                    navigation: false,
                    pagination: false,
                    play: { auto: true }
                });
            });

            $("#slides-jbg-15 > button").click(function() {
                // A bit dirty, but would do for now
                $("#slides-jbg-15").html(" \
                    {% for i in 1..27 %}
                        <img src={{ asset('bundles/ab/images/photos/events/opening-oxbridge-15/cantab-slides/cantab-talk-%02d.png'|format(i)) }} /> \
                    {% endfor %}
                    <a href=# class=\"slidesjs-previous slidesjs-navigation\"><span class=\"glyphicon glyphicon-chevron-left\"></span></a> \
                    <a href=# class=\"slidesjs-next slidesjs-navigation\"><span class=\"glyphicon glyphicon-chevron-right\"></span></a>");

                $("#slides-jbg-15").slidesjs({
                    width: 1200,
                    height: 900,
                    navigation: false,
                    pagination: false,
                    play: { auto: true }
                });
            });
        });
    </script>
{% endblock %}