{% extends "ABBundle::layout.html.twig" %}

{% block title %}About Oxbridge stage{% endblock %}
{% block content %}
    <div class="panel-shadow clearfix">
        <div class="text-block col-md-6 col-xs-12">
            <h3>Should I apply to Oxbridge?</h3>
            <p>Yes, definitely! Many of successful Oxbridge applicants thought that they were not smart or talented enough to be accepted. The truth is, there is hardly any link between what you think of yourself and what are your odds of getting in, which is why you should apply. Chances of successful application to the prestigious Oxford and Cambridge are further increased by participating in ‘Academic Buddy’ events and preparation camps as well as by applying advice you will get from our mentors. And remember that you will also be applying to other UK universities at the same time, so even if you don’t get into Oxbridge, you will have a chance of getting an offer from other top universities in the UK.

            </p>
        </div>
        
        <div class="text-block col-md-6  col-xs-12">
            <h3><strong>Oxbridge stage </strong><em>vs</em><strong> 2nd stage:</strong> which one to choose?</h3>
            <p>The Oxbridge stage takes place from May to October each year. This is due to the fact that the application deadline to Oxbridge is earlier than those of other universities: it’s 15th October. Pupils who wish to study in Oxbridge should apply to this stage in May or June. Yet, all pupils who are selected for the Oxbridge stage will also have the opportunity to go on to the 2nd stage if they chose so.</p>
            <p>The 2nd stage starts in September, and is for students who wish to apply to other best universities in the United Kingdom (LSE, UCL, Warwick, Edinburgh, St Andrews, etc.). The application deadline for these universities is 15th January. If you wish to get a notification about the start of the 2nd stage, please <a href="https://docs.google.com/forms/d/1a7g5Y34M4rClUV365ueQv9rZ-KKGAgKwgdvwv8Xyalk/viewform" target="_blank">subscribe to our newsletter</a>.</p>
        </div>

        <div class="text-block col-md-6 col-xs-12 l-float">
            <h3>The Process</h3>    
            <p>A large part of communication with mentors happens online. In the Oxbridge stage, each accepted student will receive a mentor according to: (i) personal statement in the registration form, and (ii) his/her preferences.</p>
            <p>Communication online will start in <strong>August</strong>, and will last until the end of the application process. The mentor will likely recommend some literature to read through the summer in preparation for the tests and interviews in autumn and winter.</p>
            <p>Nearer the particular deadlines (15th October for UCAS application; special admission tests in November; interviews in December), the mentor will consult the student regarding the specifics.</p>
            <p>There will be two events in the Oxbridge stage. The first one is the opening event, which happens in June, where the organisers will inform students about the most general aspects of applications to, and life in Oxbridge. This will also give an opportunity for mentors and students to get to know each other in person. The second event is a preparation camp, happening in September, which will consist in intense two day preparation for tests and interviews.</p>
        </div>
        
        <div class="text-block col-md-6 col-xs-12 r-float">
            <h3>History</h3>
            <p>The project has been started in the summer of 2012 by an initiative within the Cambridge University Lithuanian Society (CULS), and has substantially expanded in the 2013 - 2014 academic year, when Oxford University Lithuanian Society joined the organising committee, and ties with the professional mentorship project ‘LT Big Brother’ were established. 2012 - 2013 saw over a 100 applications from Lithuanian students, and a similar amount of willing mentors.</p>
            <p>In the process, 3 meetings amongst students and mentors, a preparation camp, and numerous mentor consultations via e-mail and in person, have happened. More than a third of the pupils applying to Oxbridge received offers. Many other participants have been accepted to UCL, Edinburgh, Warwick, St Andrews and other prestigious universities. A closing event in April, 2013 marked the end of a successful first year.</p>
            <p>Continuing the project in 2013-2014 academic year, we achieved even better results. You can see our pupils’ offer statistics in the illustration below.</p>
            <img class="col-sm-8" style="max-width: 100%" title="Statistika" src="{{ asset('bundles/ab/images/chart.png') }}" />
            <p>In 2014, 88% of all students that participated in our survey have been invited to Oxbridge interviews, and 42% (compare to 33% in 2013, and the European Union average) have received offers.</p>
            <p>In 2014 - 2015 academic year, ‘Academic Brother’ changed its name to ‘Academic Buddy’, and an executive committee independent of CULS and OULS was established. </p>
            <p>We hope to use our experience in helping pupils to achieve their academic potential in 2015 - 2016 again. We always aim to include ex-participants and other Lithuanian students into the mentoring process, and reach pupils in a wide range of schools and districts within Lithuania.</p>

        </div>

        <div class="text-block col-md-6 col-xs-12 l-float">
            <h3>About the project: goals and activities</h3>
            <h5 class="centered">Goals</h5>
            <ol class="c">
                <li>to ensure that the brightest students in Lithuania would be given a fair chance to study in the best universities that reflect their academic potential,</li>
                <li>to create a community of Lithuanian students abroad.</li>
            </ol>
            
            <h5 class="centered">Activities</h5>
            <ol class="d">
                <li>spreading objective information about studies abroad;</li>
                <li>personal and communal consultations of students regarding living, studying and applying to universities abroad;</li>
                <li>meetings which introduce students to nuances of the application and interview processes, colleges, living expenses, etc.;</li>
                <li>a camp for Oxbridge applicants which introduces students to interview techniques, helps them improve their <em>Personal Statements</em>, checks their knowledge with tests, and allows them to freely communicate with student mentors.</li>
            </ol>
        </div>


        
        <div class="text-block col-md-6 col-xs-12 r-float">
            <h3>Oxbridge stage in dates</h3>
            <table class="table">
                <tr>
                    <td>June 1 – August 1</td>
                    <td>entor and student registration</td>
                </tr>
                <tr>
                    <td><i>TBA</i></td>
                    <td>the opening event</td>
                </tr>
                <tr>
                    <td><i>TBA</i></td>
                    <td>pupils and mentors are paired up</td>
                </tr>
                <tr>
                    <td>September</td>
                    <td>the preparation camp</td>
                </tr>
                <tr>
                    <td>15th October</td>
                    <td>UCAS application deadline</td>
                </tr>
                <tr>
                    <td>October - November</td>
                    <td>admission tests</td>
                </tr>
                <tr>
                    <td>December</td>
                    <td>Oxbridge interviews</td>
                </tr>
                <tr>
                    <td>January – February</td>
                    <td>admission results</td>
                </tr>
            </table>
        </div>

        <div class="text-block col-md-6 col-xs-12 l-float">
            <h3>Pupil and mentor registration</h3>
            <p><strong>Pupil registration:</strong> June 1 – August 1</p>
            <p>We only accept applications from students in 11th grade or older, as these are the students that can apply to Oxbridge this academic year. When selecting the students, we will use information about their academic potential, achievements, interests and activities that we are given in their application forms. The information in the application form will also be used to assign the student a mentor.</p>
            <p><strong>Mentor registration:</strong> June 1 – August 1</p>
            <p>We only accept Oxbridge students and Alumni in the Oxbridge stage. All information, with the exception of e-mail and phone, will be publicly available on our website. Students will use the information to express their preferences for mentors.</p>
        </div>

        <div class="col-md-12 l-float">
            <h4>Moments from the opening event last year</h4>
            <div id="photo-block">
                <div id="slides">
                    {% for i in 1..12 %}
                        <img src={{ asset('bundles/ab/images/photos/%d.JPG'|format(i)) }} />
                    {% endfor %}
                    <a href=# class="slidesjs-previous slidesjs-navigation">{{ icon('chevron-left') }}</a>
                    <a href=# class="slidesjs-next slidesjs-navigation">{{ icon('chevron-right') }}</a>
                </div>
            </div>
        </div>

        <div class="text-block col-md-6 col-xs-12 l-float">
            <h3>The opening event</h3>
            <p>The aim of the event is to provide a wide range of information about life and studies in Oxbridge, also helping the students to decide whether to apply to Oxbridge, and which subject to pick. This will also give an opportunity for mentors and students to get to know each other in person. The event happens in July.</p>
        </div>


        <div class="text-block col-md-6 col-xs-12 l-float">
            <h3>The preparation camp</h3>
            <p>Students who are accepted will be invitied to the preparation camp happening in September. During the camp, mentors will lead training sessions and consult students in (i) <em>Personal Statement</em> writing; (ii) interview preparation; (iii) preparation for admission tests. There should also be an interesting evening programme and an opportunity to meet other applicants and mentors.</p>
            <p>The camp happens in September.</p>
        </div>

        <div class="text-block col-md-6 col-xs-12 l-float">
            <h3>Our Future</h3>
            <p>The project will be happening for the 4th year in a row, so it has amassed experience and developed good practices. This year, we will aim to get more awareness from Lithuanian students, improve our performance, strengthen our links with Lithuanian societies in UK’s universities, and, hopefully, to expand to other countries.</p>
        </div>

        <div class="text-block col-md-6 col-xs-12 r-float">
            <h4>Organisers</h4>
            <div>
                <a href="http://www.cu-ls.org" target="_blank">
                    <img class="org-logo" src="{{ asset('bundles/ab/images/CULS-EN-version.jpg') }}" alt="Cambridge University Lithuanian Society" style="max-width: 230px" /></a>
                <br />
                <a href="http://www.ou-ls.org" target="_blank">
                    <img class="org-logo" src="{{ asset('bundles/ab/images/OULS-logo-3.png') }}" alt="Oxford University Lithuanian Society" style="max-width: 220px" /></a>
            </div>
            <h4>Partners</h4>
            <div>
                <a href="http://www.ltbigbrother.com/apie-projekta/">
                    <img class="org-logo" src="{{ asset('bundles/ab/images/logoLTBB.png') }}" alt="LT Big Brother" style="max-width: 230px" /></a>
                <a href="http://vischool.lt/">
                    <img class="org-logo" src="{{ asset('bundles/ab/images/vis-logo.png') }}" alt="Vilnius International School" style="max-width: 212px"></a>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {% javascripts '@ABBundle/Resources/public/slides/jquery.slides.js' filter='?uglifyjs2' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(function(){
            $("#slides").slidesjs({
                width: 670,
                height: 450,
                navigation: { active: false },
                pagination: { active: false },
                play: { auto: true }
            });
        });
    </script>
{% endblock %}