{% extends "ABBundle::layout.html.twig" %}
{% block title %}Main{% endblock %}
{% block content %}
    <div class="main-banner clearfix">
        <div class="col-sm-6">
            <div id="main-logo">
                <img src="{{ asset('bundles/ab/images/ablogo2.png') }}">
            </div>
        </div>
        <div class="col-sm-6" id="short-descr">
            <div style="height: 80px;" class="hidden-xs"></div>
            <p>— mentorship project, that aims at helping pupils from Lithuania to enter best foreign universities.</p>
        </div>
        <div class="col-sm-12 reg-button-box centered">
            <a class="btn btn-default btn-lg reg-button" href="{{ path('mentor_registration') }}">Mentors’ registration</a>
            <a class="btn btn-default btn-lg reg-button" href="{{ path('pupil_registration') }}">Pupils’ registration</a>
        </div>
    </div>
    <div class="panel-shadow clearfix">  
        <div id="description" class="col-sm-7 col-xs-12 l-float">
            <h4>Atidaromasis renginys</h4>
            Opening event of the 'Academic Buddy' Oxbridge stage will take place at Vilnius International School, Rusų st. 3 (<a href="https://goo.gl/maps/MVI3N">map</a>), at 2pm.

            <h4>About the project</h4>

            <p>’Academic Buddy’ project progresses in two stages: Oxbridge stage and 2nd (rest of UK) stage.<p>
            
            {#<p>Although official registration for 2014-15 m. m. has ended, we strongly encourage pupils, who are interested in applying to the best UK universities, to email us at <a href="mailto:academic.buddy@gmail.com">academic.buddy@gmail.com</a>.</p>#}

            <p>From May to October, Oxbridge stage of the project takes place, which is devoted to help pupils, applying to Oxford or Cambridge (Oxbridge) universities. From September to January, 2nd stage of the project takes place, which is devoted to ones applying to the best universities in the rest of UK, e.g. LSE, UCL, Edinburgh, St Andrews, Durham, Warwick etc. Pupils, participating in Oxbridge stage may also participate in 2nd stage.</p>

            <p>We aim to help talented and motivated students from Lithuania who decided to apply to foreign universities to get high quality education, matching their academic potential. At the same time we are gathering an international Lithuanian students’ community. Lithuanians studying abroad participate in this project by consulting and providing assistance to final year high-school students in the process of their applications. Do you have any questions? Write to us <a href="mailto:academic.buddy@gmail.com">academic.buddy@gmail.com</a>.</p>  
        </div> 

        <div class="col-sm-5 col-xs-12 r-float">
            <h4>Oxbridge stage 2015/16</h4>
            <table class="table">
                <tr>
                    <td nowrap><b>until 08 01</b></td>
                    <td><b>mentor and pupil registration</b></td>
                </tr>
                <tr>
                    <td>07 18</td>
                    <td>opening event</td>
                </tr>
                <tr>
                    <td>TBA</td>
                    <td>mentors’ and pupils’ communication commences</td>
                </tr>
                <tr>
                    <td>September</td>
                    <td>application prep camp</td>
                </tr>
                <tr>
                    <td>10 15</td>
                    <td>UCAS deadline (Oxbridge stage)</td>
                </tr>
                <tr>
                    <td>December</td>
                    <td>invitations to the interviews</td>
                </tr>
                <tr>
                    <td>January</td>
                    <td>universities announce admission results</td>
                </tr>
            </table>

            <h4>2nd stage 2014/15</h4>
            <table class="table">
                <tr>
                    <td>until 10 13</td>
                    <td>mentor and pupil registration</td>
                </tr>
                <tr>
                    <td>09 13</td>
                    <td>opening event</td>
                </tr>
                <tr>
                    <td>end of October</td>
                    <td>mentors’ and pupils’ communication commences</td>
                </tr>
                <tr>
                    <td>December</td>
                    <td>Personal Statement workshops</td>
                </tr>
                <tr>
                    <td>01 15</td>
                    <td>UCAS application deadline (UK-wide stage)</td>
                </tr>
                <tr>
                    <td>Spring</td>
                    <td>universities announce admission results</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-7 col-xs-12 l-float">
            <h4>Facebook feed</h4>
            <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FAcademicBuddy&amp;width=670&amp;height=750&amp;colorscheme=light&amp;show_faces=false&amp;header=false&amp;stream=true&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:750px;" allowTransparency="true"></iframe>
        </div>
            
        <div class="col-sm-5 col-xs-12 r-float">
            <h4>Organisers</h4>
            <div>
                <a href="http://www.cu-ls.org" target="_blank">
                    <img class="org-logo" src="{{ asset('bundles/ab/images/CULS-EN-version.jpg') }}" alt="Cambridge University Lithuanian Society" style="max-width: 230px" /></a>
                <br />
                <a href="http://www.ou-ls.org" target="_blank">
                    <img class="org-logo" src="{{ asset('bundles/ab/images/OULS-logo-3.png') }}" alt="Oxford University Lithuanian Society" style="max-width: 220px" /></a>
            </div>
            <h4>Partners</h4>
            <div>
                <a href="http://www.ltbigbrother.com/apie-projekta/">
                    <img class="org-logo" src="{{ asset('bundles/ab/images/logoLTBB.png') }}" alt="LT Big Brother" style="max-width: 230px" /></a>
                <a href="http://vischool.lt/">
                    <img class="org-logo" src="{{ asset('bundles/ab/images/vis-logo.png') }}" alt="Vilnius International School" style="max-width: 212px"></a>
            </div>
        </div>
    </div>
{% endblock %}