{% extends "ABBundle::layout.html.twig" %}
{% block title %}Pradžia{% endblock %}
{% block content %}
    <div class="main-banner clearfix">
        <div class="col-sm-6">
            <div id="main-logo">
                <img src="{{ asset('bundles/ab/images/ablogo2.png') }}">
            </div>
        </div>
        <div class="col-sm-6" id="short-descr">
            <div style="height: 80px;" class="hidden-xs"></div>
            <p>— mentorystės projektas, padedantis Lietuvos moksleiviams įstoti į geriausius užsienio universitetus.</p>
        </div>
        <div class="col-sm-12 reg-button-box centered">
            <a class="btn btn-default btn-lg reg-button" href="{{ path('mentor_registration') }}">Mentorių registracija</a>
            <a class="btn btn-default btn-lg reg-button" href="{{ path('pupil_registration') }}">Moksleivių registracija</a>
        </div>
    </div>
    <div class="panel-shadow clearfix">  
        <div id="description" class="col-sm-7 col-xs-12 l-float">
            <h4>Apie projektą</h4>

            <p>„Academic Buddy“ projektas vyksta dviem etapais: Oksbridžo ir likę Jungtinės Karalystės universitetai.<p>
            
            {#<p>Nors oficiali registracija į šį projekto etapą 2014-15 m. m. jau baigėsi, kviečiame moksleivius, susidomėjusius stojimais į geriausius JK universitetus, parašyti mums <a href="mailto:academic.buddy@gmail.com">academic.buddy@gmail.com</a>.</p>#}

            <p>Gegužės - spalio mėn. vyksta I-asis projekto etapas, skirtas planuojantiems stoti į Oksfordo ir Kembridžo (sutrumpintai Oksbridžo) universitetus. Rugsėjo – sausio mėn. vyksta II-asis projekto etapas, skirtas stojantiems į kitus geriausius Jungtinės Karalystės universitetus, pavyzdžiui, LSE, UCL, Edinburgh, St Andrews, Durham, Warwick ir kiti. II-ajame etape gali dalyvauti ir I-ojo etapo dalyviai.<p>

            <p>Siekiame padėti gabiems ir motyvuotiems Lietuvos moksleiviams, nusprendusiems stoti į užsienio universitetus, gauti aukščiausios kokybės išsilavinimą, atitinkantį jų akademinį potencialą; tuo pačiu buriame tarptautinę lietuvių studentų bendruomenę. Projekte dalyvauja užsienyje studijuojantys lietuviai, konsultuojantys ir visapusiškai padedantys paskutiniųjų klasių moksleiviams stojimo procesų metu. Turi klausimų? Parašyk mums <a href="mailto:academic.buddy@gmail.com">academic.buddy@gmail.com</a>.</p>

            <p style="font-size: 13pt"><b>Norinčius gauti projekto naujienas, <a href="https://docs.google.com/forms/d/1a7g5Y34M4rClUV365ueQv9rZ-KKGAgKwgdvwv8Xyalk/viewform" target="_blank">kviečiame užsiprenumeruoti mūsų naujienlaiškį</a>.</b></p>   
        </div> 

        <div class="col-sm-5 col-xs-12 r-float">
            <h4>Oksbridžo etapo eiga 2015/16 m.</h4>
            <table class="table">
                <tr>
                    <td nowrap><b>iki 08 01</b></td>
                    <td><b>mentorių ir moksleivių registracija</b></td>
                </tr>
                <tr>
                    <td>TBA</td>
                    <td>atidaromasis renginys</td>
                </tr>
                <tr>
                    <td>TBA</td>
                    <td>prasideda mentorių ir moksleivių bendravimas</td>
                </tr>
                <tr>
                    <td>rugsėjis</td>
                    <td>pasiruošimo stojimui stovykla</td>
                </tr>
                <tr>
                    <td>10 15</td>
                    <td>UCAS formos pildymo galutinis terminas</td>
                </tr>
                <tr>
                    <td>gruodis</td>
                    <td>kvietimai į interviu</td>
                </tr>
                <tr>
                    <td>sausis</td>
                    <td>universitetai skelbia stojimo rezultatus</td>
                </tr>
            </table>

            <h4>II etapo eiga 2014/15 m.</h4>
            <table class="table">
                <tr>
                    <td>iki 10 13</td>
                    <td>mentorių ir moksleivių registracija</td>
                </tr>
                <tr>
                    <td>09 13</td>
                    <td>atidaromasis renginys</td>
                </tr>
                <tr>
                    <td>spalio pabaiga</td>
                    <td>prasideda mentorių ir moksleivių bendravimas</td>
                </tr>
                <tr>
                    <td>gruodis</td>
                    <td>Personal Statements dirbtuvės</td>
                </tr>
                <tr>
                    <td>01 15</td>
                    <td>UCAS formos pildymo galutinis terminas (II etapas)</td>
                </tr>
                <tr>
                    <td>pavasaris</td>
                    <td>universitetai skelbia stojimo rezultatus</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-7 col-xs-12 l-float">
            <h4>Facebook įrašai</h4>
            <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FAcademicBuddy&amp;width=670&amp;height=750&amp;colorscheme=light&amp;show_faces=false&amp;header=false&amp;stream=true&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:750px;" allowTransparency="true"></iframe>
        </div>
        
        <div class="col-sm-5 col-xs-12 r-float">
            <h4>Projekto organizatoriai</h4>
            <div>
                <a href="http://www.cu-ls.org" target="_blank">
                    <img class="org-logo" src="{{ asset('bundles/ab/images/CULS-EN-version.jpg') }}" alt="Cambridge University Lithuanian Society" style="max-width: 230px" /></a>
                <br />
                <a href="http://www.ou-ls.org" target="_blank">
                    <img class="org-logo" src="{{ asset('bundles/ab/images/OULS-logo-3.png') }}" alt="Oxford University Lithuanian Society" style="max-width: 220px" /></a>
            </div>
            <h4>Projekto partneriai</h4>
            <div>
                <a href="http://www.ltbigbrother.com/apie-projekta/">
                    <img class="org-logo" src="{{ asset('bundles/ab/images/logoLTBB.png') }}" alt="LT Big Brother" style="max-width: 230px" /></a>
                <a href="http://vischool.lt/">
                    <img class="org-logo" src="{{ asset('bundles/ab/images/vis-logo.png') }}" alt="Vilnius International School" style="max-width: 212px"></a>
            </div>
        </div>
    </div>
{% endblock %}
