{% extends "ABBundle::layout.html.twig" %}
{% block title %}Main{% endblock %}
{% block content %}
    <div class="main-banner clearfix">
        <div class="col-sm-6">
            <div id="main-logo">
                <img src="{{ asset('bundles/ab/images/ablogo2.png') }}">
            </div>
        </div>
        <div class="col-sm-6" id="short-descr">
            <div style="height: 80px;" class="hidden-xs"></div>
            <p>— mentorship project, that aims at helping pupils from Lithuania to enter best foreign universities.</p>
        </div>
        <div style="height: 80px;" class="visible-xs"></div>
        <div class="col-sm-12 reg-button-box centered">
            <a class="btn btn-default btn-lg reg-button" href="{{ path('mentor_registration') }}">Mentors’ registration</a>
            <a class="btn btn-default btn-lg reg-button" href="{{ path('pupil_registration') }}">Pupils’ registration</a>
        </div>
    </div>
    <div class="panel-shadow clearfix">  
        <div class="alert alert-danger" role="alert">This page is under preparation. Information below may be outdated.</div>

        <div id="description" class="col-sm-7 col-xs-12 l-float">
            <h4>Personal Statement workshops</h4>
            <p>Personal Statement workshops will take place on 4 January in Vilnius, at <a href="http://bit.ly/1NQBtWP">Vilnius Lyceum</a>. This event is aimed at improving applicants' motivational letter, usually known as the Personal Statement. Current and former UK students will gather together into small groups, and will review each of the pupils' Personal Statements in turn, highlighting the best and the worst aspects of it. These workshops will also provide pupils a perfect opportunity to get to know more about the studies and life in the UK, as well as enabling students to share their experiences.</p>

            <h4>About the project</h4>

            <p>’Academic Buddy’ project progresses in two stages: Oxbridge stage and 2nd (rest of UK) stage.<p>
            
            <p>Although official registration for 2015/16 for Oxbridge stage has ended, we strongly encourage pupils, who are interested in applying, to email us at <a href="mailto:academic.buddy@gmail.com">academic.buddy@gmail.com</a>.</p>

            <p>From May to October, Oxbridge stage of the project takes place, which is devoted to help pupils, applying to Oxford or Cambridge (Oxbridge) universities. From September to January, 2nd stage of the project takes place, which is devoted to ones applying to the best universities in the rest of UK, e.g. LSE, UCL, Edinburgh, St Andrews, Durham, Warwick etc. Pupils, participating in Oxbridge stage may also participate in 2nd stage.</p>

            <p>We aim to help talented and motivated students from Lithuania who decided to apply to foreign universities to get high quality education, matching their academic potential. At the same time we are gathering an international Lithuanian students’ community. Lithuanians studying abroad participate in this project by consulting and providing assistance to final year high-school students in the process of their applications. Do you have any questions? Write to us <a href="mailto:academic.buddy@gmail.com">academic.buddy@gmail.com</a>.</p>  
        </div> 

        <div class="col-sm-5 col-xs-12 r-float">
            <h4>Oxbridge stage 2016/17</h4>
            <table class="table">
                <tr class="calendar-current">
                    <td nowrap>until 07 31</td>
                    <td>mentor and pupil registration</td>
                </tr>
                <tr>
                    <td>07 18</td>
                    <td>opening event</td>
                </tr>
                <tr>
                    <td>08 07</td>
                    <td>mentors’ and pupils’ communication commences</td>
                </tr>
                <tr>
                    <td>09 05-06</td>
                    <td>application prep camp</td>
                </tr>
                <tr>
                    <td>10 15</td>
                    <td>UCAS deadline (Oxbridge stage)</td>
                </tr>
                <tr>
                    <td>December</td>
                    <td>invitations to the interviews</td>
                </tr>
                <tr>
                    <td>January</td>
                    <td>universities announce admission results</td>
                </tr>
            </table>
            <h4>2nd stage 2015/16</h4>
            <p>To be announced later.</p>
            {#<table class="table">
                <tr>
                    <td>until 10 13</td>
                    <td>mentor and pupil registration</td>
                </tr>
                {#<tr>
                    <td><i>TBA</i></td>
                    <td>opening event</td>
                </tr>#}
                <tr>
                    <td><b>end of November</b></td>
                    <td><b>mentors’ and pupils’ communication commences</b></td>
                </tr>
                <tr>
                    <td>01 04</td>
                    <td>Personal Statement workshops</td>
                </tr>
                <tr>
                    <td>01 15</td>
                    <td>UCAS application deadline (UK-wide stage)</td>
                </tr>
                <tr>
                    <td>Spring</td>
                    <td>universities announce admission results</td>
                </tr>
            </table>#}
        </div>

        <div class="col-sm-7 col-xs-12 l-float">
            <h4>Facebook feed</h4>
            <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FAcademicBuddy&amp;width=670&amp;height=750&amp;colorscheme=light&amp;show_faces=false&amp;header=false&amp;stream=true&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:750px;" allowTransparency="true"></iframe>
        </div>
            
        <div class="col-sm-5 col-xs-12 r-float">
            <h4>Organisers</h4>
            <div>
                <a href="http://www.cu-ls.org" target="_blank">
                    <img class="org-logo" src="{{ asset('bundles/ab/images/CULS-EN-version.jpg') }}" alt="Cambridge University Lithuanian Society" style="max-width: 230px" /></a>
                <br />
                <a href="http://www.ou-ls.org" target="_blank">
                    <img class="org-logo" src="{{ asset('bundles/ab/images/OULS-logo-3.png') }}" alt="Oxford University Lithuanian Society" style="max-width: 220px" /></a>
            </div>
            <h4>Partners</h4>
            <div>
                <a href="http://www.ltbigbrother.com/apie-projekta/">
                    <img class="org-logo" src="{{ asset('bundles/ab/images/logoLTBB.png') }}" alt="LT Big Brother" style="max-width: 230px" /></a>
                <a href="http://vischool.lt/">
                    <img class="org-logo" src="{{ asset('bundles/ab/images/vis-logo.png') }}" alt="Vilnius International School" style="max-width: 212px"></a>
            </div>
        </div>
    </div>
{% endblock %}