{% extends "ABBundle::layout.html.twig" %}
{% block title %}Pradžia{% endblock %}
{% block content %}
    <div class="main-banner clearfix">
        <div class="col-sm-6">
            <div id="main-logo">
                <img src="{{ asset('bundles/ab/images/ablogo2.png') }}">
            </div>
        </div>
        <div class="col-sm-6" id="short-descr">
            <div style="height: 80px;" class="hidden-xs"></div>
            <p>— mentorystės projektas, padedantis Lietuvos moksleiviams įstoti į geriausius užsienio universitetus.</p>
        </div>
        <div style="height: 80px;" class="visible-xs"></div>
        <div class="col-sm-12 reg-button-box centered">
            <a class="btn btn-default btn-lg reg-button" href="{{ path('mentor_registration') }}">Mentorių registracija</a>
            <a class="btn btn-default btn-lg reg-button" href="{{ path('pupil_registration') }}">Moksleivių registracija</a>
        </div>
    </div>
    <div class="panel-shadow clearfix">  
        <div id="description" class="col-sm-7 col-xs-12 l-float">
        <h3>Apie Oksbridžo etapą</h3>

        <p>„Akademinis bičiulis” pradeda penktąjį veiklos sezoną! Kviečiame visus moksleivius ir mentorius, norinčius aplikuoti į Oksbridžo etapą, užsiregistruoti čia (<a href="{{ path('mentor_registration') }}">mentoriams</a>, <a href="{{ path('pupil_registration') }}">moksleiviams</a>).</p>

        <p>Pasibaigus Oksbridžo etapo registracijai, kiekvienam į projektą atrinktam moksleiviui bus paskirtas mentorius, kuris projekto metu padės atsakyti į klausimus apie pasirinktas studijas, gyvenimą užsienyje, stojimo procesą bei motyvacinio laiško rašymą.</p>

        <p>Moksleiviams, perėjusiems atranką į Oksbridžo etapą, rugsėjo pradžioje bus rengiama 2 dienų „Akademinio bičiulio” stovykla. Stovyklos metu mentoriai ves apmokymus ir konsultuos stojimo procesų klausimais, vyks įvairios pasiruošimo dirbtuvės:
        <ol type="i">
        <li>Personal Statement'o tobulinimas;</li>
        <li>pasiruošimas interviu; </li>
        <li>pasiruošimas specialiems testams (kai kuriems kursams). </li>
        </ol>
        Taip pat laukia įdomi vakarinė programa bei galybė bendravimo su kitais AB dalyviais bei mentoriais! Daugiau informacijos vėliau.</p>

        <p>Dėl ansktesnės paraiškų teikimo pabaigos Oksbridžo universitetams (spalio 15 d.) projektas artimiausiu metu dirbs su moksleiviais, kurie nori aplikuoti į Oksfordo ar Kembridžo universitetus. Spalio - lapkričio mėnesiais bus atidaryta registracija moksleiviams, kurie nori aplikuoti į kitus Jungtinės Karalystės universitetus be Oksbridžo.</p>

        <p>Naujienas skelbsime savo svetainėje bei <a href="https://www.facebook.com/AcademicBuddy/">„Facebook” puslapyje</a>.</p>

        <h3>Apie JAV etapą</h3>

        <p>Šiais metais „Academic Buddy“ žengia į Jungtines Amerikos Valstijas! Lietuvių studentai iš Harvardo neseniai prisijungė prie mūsų komandos ir yra pasiruošę padėti ambicingiems moksleiviams sėkmingai aplikuoti į Ivy League bei kitus geriausiai vertinamus JAV universitetus. Daugiau informacijos apie naująjį etapą <a href="{{ path('about_usa') }}">„JAV etapas“ skiltyje</a>.</p>

        <p>„Academic Buddy USA“ mentoriai kviečia dalyvauti liepos 26 d. antradienį 13:00 Vilniaus Miesto Savivaldybėje pristatomajame JAV etapo renginyje. Renginio metu susipažinsite su lietuvių studentais JAV universitetuose, kurie pristatys naujojo „Academic Buddy“ JAV etapo eigą ir suteiks informacijos moksleiviams, norintiems studijuoti JAV universitetuose. Daugiau informacijos apie renginį <a href="https://www.facebook.com/events/1150721761654461/">čia</a>; rekomenduojame renginiui užsiregistruoti <a href="http://goo.gl/forms/FTt3rGpRxvpBRTlX2">čia</a>.</p>

        <h3>Apie projektą</h3>

        <p>„Akademinio bičiulio” (angl. - „Academic Buddy”, AB) projektas vyksta etapais, kurie skirti moksleiviams stojantiems į Oksbridžo, Jungtinės Karalystės, bei JAV universitetus.</p>

        <p>Šiuo metu vyksta registracija į „Academic Buddy“ Oksbridžo etapą 2016 - 2017 m. Greitu metu pasirodys daugiau informacijos apie registraciją į JAV etapą.</p>

        <p>Dėl ansktesnės paraiškų teikimo pabaigos Oksfordo ir Kembridžo (sutrumpintai - Oksbridžo) universitetams (spalio 15 d.), liepos - spalio mėnesiais vyksta I-asis projekto etapas, skirtas planuojantiems stoti į Oksbridžo universitetus. Rugsėjo – sausio mėn. vyksta II-asis projekto etapas, skirtas stojantiems į kitus geriausius Jungtinės Karalystės universitetus kaip LSE, UCL, Edinburgh, St Andrews, Durham, Warwick ir kiti, kuriems paraiškų pateikimo pabaiga yra sausio 15 d.. II-ajame etape gali dalyvauti ir I-ojo etapo dalyviai.</p>

        <p>Siekiame padėti gabiems ir motyvuotiems Lietuvos moksleiviams, nusprendusiems stoti į užsienio universitetus, gauti aukščiausios kokybės išsilavinimą, atitinkantį jų akademinį potencialą; tuo pačiu buriame tarptautinę lietuvių studentų bendruomenę. Projekte dalyvauja užsienyje studijuojantys lietuviai, konsultuojantys ir visapusiškai padedantys paskutiniųjų klasių moksleiviams stojimo procesų metu. Turi klausimų? Parašyk mums <a href="mailto:academic.buddy@gmail.com">academic.buddy@gmail.com</a>.</p>
        </div>

        <div class="col-sm-5 col-xs-12 r-float">
            <h4>Oksbridžo etapo eiga 2016 - 2017 m.</h4>
            <table class="table">
                <tr class="calendar-current">
                    <td nowrap>Iki rugpjūčio 1 d.</td>
                    <td>Mentorių ir moksleivių registracija</td>
                </tr>
                <tr>
                    <td class="calendar-current">Liepos 14 d.</td>
                    <td><a href="https://www.facebook.com/events/818173024951341/">Atidaromasis renginys</a></td>
                </tr>
                <tr>
                    <td>Rugpjūčio mėn.</td>
                    <td>Moksleiviai poruojami su mentoriais, prasideda bendravimas!</td>
                </tr>
                <tr>
                    <td>Rugsėjo pr.</td>
                    <td>„Academic Buddy” stovykla pasiruošti stojimo procesui</td>
                </tr>
                <tr>
                    <td>Spalio 15 d.</td>
                    <td>UCAS paraiškų padavimo paskutinė diena</td>
                </tr>
                <tr>
                    <td>Spalio - lapkričio mėn.</td>
                    <td>Papildomų testų laikymas (priklauso nuo Oksbridžo kurso)</td>
                </tr>
                <tr>
                    <td>Gruodžio mėn.</td>
                    <td>Kvietimai į interviu ir pačių interviu eiga</td>
                </tr>
                <tr>
                    <td>Sausio mėn.</td>
                    <td>Universitetai skelbia stojimo rezultatus</td>
                </tr>
            </table>
            <h4>II-ojo JK etapo eiga 2016 - 2017 m.</h4>
            <table class="table">
                <tr>
                    <td>Rugsėjo - spalio mėn.</td>
                    <td>Mentorių ir moksleivių registracija</td>
                </tr>
                <tr>
                    <td><i>TBA</i></td>
                    <td>atidaromasis renginys</td>
                </tr>
                <tr>
                    <td>Lapkričio mėn.</td>
                    <td>Moksleiviai poruojami su mentoriais, prasideda bendravimas!</td>
                </tr>
                <tr>
                    <td>Gruodžio - sausio mėn.</td>
                    <td>Personal Statements dirbtuvės</td>
                </tr>
                <tr>
                    <td>Sausio 15 d.</td>
                    <td>UCAS paraiškų padavimo paskutinė diena</td>
                </tr>
                <tr>
                    <td>Pavasaris</td>
                    <td>Universitetai skelbia stojimo rezultatus</td>
                </tr>
            </table>
            <h4>JAV etapas</h4>
            <p><i>Daugiau informacijos jau greitai.</i></p>
            <table class="table">
                <tr>
                    <td class="calendar-current">Liepos 14 d.</td>
                    <td><a href="https://www.facebook.com/events/1150721761654461/">Atidaromasis renginys</a></td>
                </tr>
            </table>
        </div>
        <div class="col-sm-7 col-xs-12 l-float">
            <h4>Facebook įrašai</h4>
            <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FAcademicBuddy&amp;width=670&amp;height=750&amp;colorscheme=light&amp;show_faces=false&amp;header=false&amp;stream=true&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:750px;" allowTransparency="true"></iframe>
        </div>
        
        <div class="col-sm-5 col-xs-12 r-float">
            <h4>Projekto organizatoriai</h4>
            <div>
                <a href="http://www.cu-ls.org" target="_blank">
                    <img class="org-logo" src="{{ asset('bundles/ab/images/CULS-EN-version.jpg') }}" alt="Cambridge University Lithuanian Society" style="max-width: 230px" /></a>
                <br />
                <a href="http://www.ou-ls.org" target="_blank">
                    <img class="org-logo" src="{{ asset('bundles/ab/images/OULS-logo-3.png') }}" alt="Oxford University Lithuanian Society" style="max-width: 220px" /></a>
            </div>
            <h4>Projekto partneriai</h4>
            <div>
                <a href="http://www.ltbigbrother.com/apie-projekta/">
                    <img class="org-logo" src="{{ asset('bundles/ab/images/logoLTBB.png') }}" alt="LT Big Brother" style="max-width: 230px" /></a>
                {#<a href="http://vischool.lt/">
                    <img class="org-logo" src="{{ asset('bundles/ab/images/vis-logo.png') }}" alt="Vilnius International School" style="max-width: 212px"></a>#}
            </div>
        </div>
    </div>
{% endblock %}
