{# Enable redefining #}
{% form_theme form _self %}
{# Import macros #}
{% import _self as mentor_form %}

{% macro university_panel(course) %}
<div class="panel panel-default">
    <div class="panel-body">
        {{ form_row(course.university, 
                    { 'style' : 'horizontal', 'widget_col' : 9, 'label_col' : 3,
                      'label' : 'Pavadinimas',
                       'help_text' : null})
        }}
        {{ form_row(course.name, 
                    { 'style' : 'horizontal', 'widget_col' : 9, 'label_col' : 3,
                      'label' : 'Kursas',
                       'help_text' : 'Pvz. BA Mathematics'})
        }}
        {{ form_row(course.courseCategory, 
                    { 'style' : 'horizontal', 'widget_col' : 9, 'label_col' : 3,
                      'label' : 'Studijų kryptis',
                      })
        }}
        {{ form_row(course.startYear, 
                    { 'style' : 'horizontal', 'widget_col' : 9, 'label_col' : 3,
                      'label' : 'Įstojimo metai',
                       'help_text' : 'Pvz. 2010'})
        }}
        {{ form_row(course.graduationYear, 
                    { 'style' : 'horizontal', 'widget_col' : 9, 'label_col' : 3,
                      'label' : 'Baigimo metai',
                      'help_text' : 'Pvz. 2014'})
        }}
  </div>
</div>
{% endmacro %}

{# Page content #}
{% block content %}
    <div id="register_form">
        {{ form_start(detailsForm, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(form) }}
        <fieldset>
            <legend>Asmeninė informacija</legend>
            {{ form_row(form.firstName, { 'style' : 'horizontal',
                                                 'widget_col' : 9,
                                                 'label_col' : 3,
                                                 'label' : 'Vardas'})
            }}
            {{ form_row(form.lastName, { 'style' : 'horizontal',
                                                 'widget_col' : 9,
                                                 'label_col' : 3,
                                                 'label' : 'Pavardė'})
            }}
            {{ form_row(form.facebookId, { 'style' : 'horizontal',
                                                 'widget_col' : 9,
                                                 'label_col' : 3,
                                                 'label' : 'Facebook URL'})
            }}
            {{ form_row(form.linkedInId, { 'style' : 'horizontal',
                                                 'widget_col' : 9,
                                                 'label_col' : 3,
                                                 'label' : 'LinkedIn URL'})
            }}          
            {{ form_row(form.homeCity, { 'style' : 'horizontal',
                                                 'widget_col' : 9,
                                                 'label_col' : 3,
                                                 'label' : 'Gyvenamoji vieta Lietuvoje',
                                                 'help_text' : 'Miestas/rajonas (galimiems susitikimams su akademiniu bičiuliu)'})
            }}
        </fieldset>
        <fieldset>
            <legend>Universitetas</legend>
            <ul class="courses" data-prototype="
                {{ mentor_form.university_panel(form.courses.vars.prototype)|e }}
            ">
                {#{{ form_row(form.courses) }}#}
                {% for course in form.courses %}
                    <li>
                        {{ mentor_form.university_panel(course) }}
                    </li>
                {% endfor %}
            </ul>
        </fieldset>
        <fieldset>
            <legend>Mokykla</legend>
            {{ form_row(form.schoolName, { 'style' : 'horizontal',
                                                  'widget_col' : 9,
                                                  'label_col' : 3,
                                                  'label' : 'Pavadinimas'})
            }}
            {{ form_row(form.schoolCity, { 'style' : 'horizontal',
                                                  'widget_col' : 9,
                                                  'label_col' : 3,
                                                  'label' : 'Miestas'})
            }}
            {{ form_row(form.schoolGraduationYear, { 'style' : 'horizontal',
                                                            'widget_col' : 9,
                                                            'label_col' : 3,
                                                            'label' : 'Baigimo metai'})
            }}          
        </fieldset>
        <fieldset>
            <legend>Papildoma informacija</legend>
            {{ form_row(form.about, { 'style' : 'horizontal',
                                             'widget_col' : 9,'label_col' : 3,
                                             'attr' : { 'rows' : '5' },
                                             'label' : 'Apie save',
                                              'help_text' : 'Čia galite trumpai papasakoti, kodėl pasirinkote savo studijų kryptį, aprašyti savo pomėgius, papildomą veiklą ir pan. Rekomenduojame iki 200 žodžių.'})
            }}
        </fieldset>
        <div>
            <button class="btn btn-primary btn-sm" type="submit">Keisti</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
