{% extends "ABBundle::layout.html.twig" %}

{# Enable redefining #}
{% form_theme form _self %}
{# Import macros #}
{% import _self as mentor_form %}

{% macro university_panel(course) %}
    <div class="panel panel-default">
        <div class="panel-body">
            {{ form_row(course.university,
            { 'style' : 'horizontal', 'widget_col' : 9, 'label_col' : 3,
            'label' : 'Pavadinimas',
            'help_text' : null})
            }}
            {{ form_row(course.name,
            { 'style' : 'horizontal', 'widget_col' : 9, 'label_col' : 3,
            'label' : 'Kursas',
            'help_text' : 'Pvz. BA Mathematics'})
            }}
            {{ form_row(course.courseCategory,
            { 'style' : 'horizontal', 'widget_col' : 9, 'label_col' : 3,
            'label' : 'Studijų kryptis',
            })
            }}
            {{ form_row(course.startYear,
            { 'style' : 'horizontal', 'widget_col' : 9, 'label_col' : 3,
            'label' : 'Įstojimo metai',
            'help_text' : 'Pvz. 2013'})
            }}
            {{ form_row(course.graduationYear,
            { 'style' : 'horizontal', 'widget_col' : 9, 'label_col' : 3,
            'label' : 'Baigimo metai',
            'help_text' : 'Pvz. 2010'})
            }}
        </div>
    </div>
{% endmacro %}

{# Include stylesheets #}
{% block stylesheets %}
    {% stylesheets '@ABBundle/Resources/public/chosen/chosen.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets '@ABBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{# Page content #}
{% block content %}
    <h1>Registracija pagrindinio etapo mentoriams</h1>
    {% if success is defined %}
        <div class="alert alert-success">Registracija sėkminga!</div>
    {% endif %}
    <div id="register_form">
        <form class="form-horizontal" action="{{ path('mentor_registration') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
            {{ form_errors(form) }}
            <fieldset>
                <legend>Asmeninė informacija</legend>
                {{ form_row(form.firstName, { 'style' : 'horizontal',
                'widget_col' : 9,
                'label_col' : 3,
                'label' : 'Vardas'})
                }}
                {{ form_row(form.lastName, { 'style' : 'horizontal',
                'widget_col' : 9,
                'label_col' : 3,
                'label' : 'Pavardė'})
                }}
                {{ form_row(form.email, { 'style' : 'horizontal',
                'widget_col' : 9,
                'label_col' : 3,
                'label' : 'El. pašto adresas'})
                }}
                {{ form_row(form.homeCity, { 'style' : 'horizontal',
                'widget_col' : 9,
                'label_col' : 3,
                'label' : 'Gyvenamoji vieta Lietuvoje',
                'help_text' : 'Miestas/rajonas (galimiems susitikimams su mažuoju broliu)'})
                }}
            </fieldset>
            <fieldset>
                <legend>Universitetas</legend>
                <ul class="courses" data-prototype="
				{{ mentor_form.university_panel(form.courses.vars.prototype)|e }}
			">
                    {#{{ form_row(form.courses) }}#}
                    {% for course in form.courses %}
                        <li>
                            {{ mentor_form.university_panel(course) }}
                        </li>
                    {% endfor %}
                </ul>
            </fieldset>
            <fieldset>
                <legend>Mokykla</legend>
                {{ form_row(form.schoolName, { 'style' : 'horizontal',
                'widget_col' : 9,
                'label_col' : 3,
                'label' : 'Pavadinimas'})
                }}
                {{ form_row(form.schoolCity, { 'style' : 'horizontal',
                'widget_col' : 9,
                'label_col' : 3,
                'label' : 'Miestas'})
                }}
                {{ form_row(form.schoolGraduationYear, { 'style' : 'horizontal',
                'widget_col' : 9,
                'label_col' : 3,
                'label' : 'Baigimo metai'})
                }}
            </fieldset>
            <fieldset>
                <legend>Papildoma informacija</legend>
                {{ form_row(form.about, { 'style' : 'horizontal',
                'widget_col' : 9,'label_col' : 3,
                'attr' : { 'rows' : '5' },
                'label' : 'Apie save',
                'help_text' : 'Čia galite aprašyti savo pomėgius, papildomą veiklą, trumpai papasakoti, kodėl pasirinkote savo studijų kryptį ir pan. Rekomenduojame iki 200 žodžių'})
                }}
            </fieldset>

            <div id="terms" class="well">
                {{ include('ABBundle:Registration:register.terms.html.twig')}}
            </div>

            {{ form_row(form.terms, {'label' : 'Sutinku su taisyklėmis'})
            }}

            {{ form_row(form.save, { 'label' : 'Registruotis' }) }}
            {{ form_end(form) }}
        </form>
    </div>

{% endblock %}

{# Include javascript #}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@ABBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@ABBundle/Resources/public/chosen/chosen.jquery.min.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}
