{% block subject %}[Nauja registracija][Mentorius]{% endblock %}
{% block body_html %}
<p><strong>Vardas:</strong> {{ user.firstName }}</p>
<p><strong>Pavardė:</strong> {{ user.lastName }}</p>
<p><strong>El. paštas:</strong> {{ user.email }}</p>

<strong>Universitetas:</strong>
<ul>
{% for course in user.courses %}
<li>
<p>{{ course.university }}</p>
<p>{{ course.name }}</p>
<p>{{ course.startYear }} - {{ course.graduationYear }}</p>
</li>
{% endfor %}
</ul>

<p><strong>Apie:</strong> {{ user.about }}</p>
<br/>

<a href="{{ confirmationURL }}">
    <button>Aktyvuoti</button>
</a>
{% endblock %}